<%= simple_form_for(@soft_skill) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-default">
    <div class="panel-heading">Información general</div>
    <div class="panel-body">
    	<%= f.input :name, label: false, placeholder: "Ingresa el nombre del skill" %>
    	<div class="row">
        <div class="col-sm-2">
          <%= f.input :max_points,label: false, placeholder: "Puntaje total", input_html: { min: '0', step: 'any' } %>          
        </div>
      </div>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', soft_skills_path, class: 'btn btn-danger' %>
  </div>
<% end %>
