<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <div class="pull-left">
      <h1 class="">Soft skills</h1>
    </div>

    <div class="pull-right">
      <%= link_to 'Nuevo skill', new_soft_skill_path, class: 'btn btn-primary btn-new' %>
    </div>
  </div>

  <table class="table table-striped table-hover" id="sprints_table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Puntos</th>
        <th>Tipo</th>
        <th style="width: 15%">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @soft_skills.each do |soft_skill| %>
        <tr>
          <td><%= soft_skill.name %></td>
          <td><%= soft_skill.description %></td>
          <td><%= soft_skill.max_points %></td>
          <td><%= soft_skill.stype %></td>
          <td>
            <%= link_to edit_soft_skill_path(soft_skill), class: "btn btn-primary" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i> Editar
            <% end %>&nbsp;
            <%= link_to soft_skill, method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-primary" do %>
              <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
