<%= simple_form_for([:admin,@track,@course,@unit]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :duration %>
    <%= f.association :course %>
    <%= f.input :sequence %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancelar', admin_track_course_units_path(@track,@course), :class => "btn btn-danger" %>
  </div>
<% end %>
