<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#branches").change(function() {
        document.location = '<%= grades_url %>/branch/' + this.value;
      });
      
      $(".course-score").click(function(e) {
        e.preventDefault();
        $.get('<%= grades_url %>/activities.json',{
          user_id: $(this).attr("data-user-id"),
          course_id: $(this).attr("data-course-id")
        }, function(data) {
          swal()
        });
      })
      
    });
  </script>
<% end %>
<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Notas de los alumnos</h1>
    </div>
    <label for="branches">
      Sedes:
      <%= select_tag "branches", options_from_collection_for_select(@branches, "id", "name",@branch_id) %>
    </label>
    <br>
    <br>
    <div class="table-grades">
      <table class="table table-striped table-hover table-bordered ">
        <thead>
          <tr>
            <th class="w-135">Código</th>
            <th>Nombres</th>
            <% @courses.each do |course| %>
              <th style="<%= "background-color:#{course.color}" if !course.color.blank? %>"><%= course.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user,index| %>
            <tr>
              <td><%= link_to user.code,ranking_detail_path(user.id) %></td>
              <td><%= user.full_name %></td>
              <% @courses.each do |course| %>
                <td>
                    <a href="#" class="course-score" data-user-id="<%= user.id %>" data-course-id="<%= course.id %>">
                      <%= @users_score_by_course_map[course.id][user.id] != nil ? @users_score_by_course_map[course.id][user.id] : 0 %>/
                      <%= @courses_points_map[course.id] %>
                    </a>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
</div>
