<% content_for :scripts do %>
 <script type="text/javascript">
    function editor(id)
    {
         CodeMirror.fromTextArea(document.getElementById(id), {
            lineNumbers: true,
            lineWrapping: true,
            readOnly: true
        });
    }
    
    <% @user.getEditorAnswers.each do |answer| %>
      editor("code_<%= answer.id %>");
    <% end %>
    
 </script>
<% end %>
<style>
  ol {
    margin-left: 20px;
  }
</style>
<div class="container">
  <div class="row">
    <br>
    <ol class="breadcrumb" style="margin:0px;">
      <li>
        <%= link_to "Ranking",ranking_path %>
      </li>
      <li class="active">Informaci贸n de notas</li>
    </ol>     
    <div class="page-header clearfix">
      <h1>Informaci贸n personal</h1>
    </div>
    <div>
      <p>
        <strong>C贸digo:</strong>
        <%= @user.code %>
      </p>
      <p>
        <strong>Nombre:</strong>
        <%= @user.full_name %>
      </p>
      <p>
        <strong>Subtotal Base:</strong>
        <%= @user.subtotal_points() %>
      </p>
      <p>
        <strong>Auto aprendizaje:</strong>
        <%= @user.calculate_self_learning_points() %>
      </p>
      <p>
        <strong>Total:</strong>
        <%= @user.total_points() %>
      </p>
      <p>
        <strong>Tiempo:</strong>
        <%= Time.at(@user.calculate_test_time).utc.strftime("%H:%M:%S") %>
      </p>
    </div>
    <div class="page-header clearfix">
      <h1>Respuestas del Editor</h1>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Pregunta</th>
          <th>Puntos</th>
          <th>C贸digo</th>
          <th>Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <% @user.getEditorAnswers.each_with_index do |answer,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= answer.page.title %></td>
            <td><%= answer.points %></td>
            <td>
              <textarea id="code_<%= answer.id %>" name="code"><%= answer.result %></textarea>
            </td>
            <td><%= raw answer.result %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="page-header clearfix">
      <h1>Preguntas Seguimiento</h1>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Pregunta</th>
          <th>Puntos</th>
          <th>Respuesta</th>
          <th>Correcta</th>
        </tr>
      </thead>
      <tbody>
        <% @user.getQuestions.each_with_index do |question,index| %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= question[0].question.description %></td>
            <td><%= question[1].correct? ? question[2].page.question_points : 0 %></td>
            <td><%= question[1].description %></td>
            <td><%= question[1].correct? ? "Si": "No" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="page-header clearfix">
      <h1>Preguntas Autoprendizaje</h1>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Pregunta</th>
          <th>Puntos</th>
          <th>Respuesta</th>
          <th>Correcta</th>
        </tr>
      </thead>
      <tbody>
        <% @user.getSelfLearningQuestions.each_with_index do |question,index| %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= question[0].question.description %></td>
            <td><%= question[1].correct? ? question[2].page.question_points : 0 %></td>
            <td><%= question[1].description %></td>
            <td><%= question[1].correct? ? "Si": "No" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>