<section id="principal-hero" class="bg-tracks bg-gray-dark">
  <div class="text-left text-white">
    <div class="container-md container-sm">
      <p class="small pb-0 mb-0 pt-35"><%= "CURSO INTENSIVO DE "%><%= pluralize @track.duration, "SEMANA" %></p>
  		<h1 class="thin fz-44 mb-0"><%= @track.name %></h1>
  		<%= image_tag "linea-amarilla.png",alt: "Línea divisora", class: "ho linea-divisora" %>
  		<p class="light pt-14"><%= @track.description %></p>
  		<a href="<%= @track.syllabus %>" target="_blank" class="text-white">
        <%= image_tag "bullet-down.png",alt: "Syllabus" %>
        <span class="thin">Syllabus</span>
      </a>
    </div>
  </div>
</section>
<section class="pt-35 pb-56">
  <div class="container-md">
    <h3 class="thin fz-xs lh-sub thin h2">plan de estudios</h3>
    <div class="hidden-xs mb-7 separator separator-primary separator-left separator-sm"></div>
    <div class="row mt-42">
      <% @track.courses.each_with_index do |course,index| %>
        <div class="col-md-4">
          <div class="grid-cursos text-center">
            <div class="bg-gray-dark header-grid p-21 light">
              <small class="text-primary lh-xs"><%= "Unidad #{index + 1}" %></small>
              <h5 class="text-uppercase mv-7 light lh-course">
                <%= link_to course.name, course_details_path(@track,course), class: "text-white " %>
              </h5>
              <div class="hidden-xs mb-7 separator separator-primary separator-centered"></div>
            </div>
            <div class="content-cursos p-14">
              <p><%= course.description %></p>
            </div>
            <h5 class="text-primary medium mv-14"><%= pluralize course.duration, "semana" %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="equipo" class="bg-gray-lighter pt-35 pb-56">
  <div class="container-md">
    <h3 class="thin fz-xs lh-sub thin h2">equipo docente</h3>
    <div class="hidden-xs mb-7 separator separator-primary separator-left separator-sm"></div>
    <div class="row mt-42">
      <% @track.teachers(current_user.branch).each do |teacher| %>
        <div class="col-md-4 text-center">
          <div class="content-equipo">
            <div class="bg-img-block">
              <%= image_tag teacher[:image],alt: teacher[:name], width: "200" %>
            </div>
            <h4 class="light mt-21 mb-0"><%= teacher[:name] %></h4>
            <p class="thin color-gray mv-7 lh-xs"><%= teacher[:title] %></p>
        		<p class="thin fz-14 lh-xs"><%= mail_to teacher[:mail], nil, class: "text-primary" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
