<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.simple_fields_for :profile do |p| %>
    <div class="container">
      <div class="form form-session">
          <%= f.error_notification %>
          <div class="form-inputs">
            <!-- Datos iniciales -->
            <%= p.input :name, label: false, required: true, placeholder: "Nombres" %>
            <%= p.input :lastname, label: false, required: true, placeholder: "Apellidos" %>
            <%= f.input :email,label: false, required: true, placeholder: "Correo electrónico" %>

            <!-- Datos generales -->
            <%= p.input :dni, label: false, required: true, placeholder: "DNI" %>
            <%= p.input :birth_date, label: false, required: true %>
            <%= f.input :signup_branch, label:false, collection: Branch.all, :include_blank => "Seleccione una sede" %>
            <%= p.input :district,collection: [],label: false, input_html: { style: "display:none;"} %>
            <%= p.input :phone1, label: false, required: true, placeholder: "Celular" %>
            <%= p.input :phone2, label: false, required: true, placeholder: "Teléfono" %>

            <%= p.input :facebook_link, label: false, required: true, placeholder: "Facebook link" %>
            <%= p.input :major, label: false, required: true, placeholder: "" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Registrarte", :class => "btn btn-primary" %>
            <%= link_to "Cancelar", new_user_session_path, :class => "btn btn-default btn-danger" %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script><%= render 'dynamic_states.js.erb' %></script>
<% end %>
