<%= devise_error_messages! %>
<% flash.each do |key, value| %>
   <div class="flash <%= key %>"><%= value %></div>
<% end %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.simple_fields_for :profile do |p| %>
    <div class="container-sm form-postula ph-70 pt-56">
      <div class="form form-session">
          <%= f.error_notification %>
          <div class="form-inputs">
            <!-- User information -->
            <div class="subtitulo mb-35">
              <img src="">
              <h2 class="text-uppercase">Datos Generales</h2>
            </div>
            <%= p.input :name, label: "1. Nombre y Apellidos", required: true, placeholder: "Nombre" %>
            <%= f.input :email,label: "2. Correo electrónico", required: true, placeholder: "ej: ejemplo@gmail.com" %>
            <%= p.input :dni, label: "3. Documento de identidad", required: true, placeholder: "ej: 95749345" %>
            <%= p.input :birth_date, label: "4. Fecha de nacimiento", required: true %>
            <%= f.input :signup_branch, label: "5. ¿En qué ciudad vives? / ¿A qué ciudad estás postulando?", collection: Branch.all, :include_blank => "Selecciona una ciudad" %>
            <%= p.association :district,collection: [],label: "6. ¿Cuál es la colonia/distrito/comuna donde vives?" %>
            <%= p.input :phone1, label: "7. Celular / Teléfono", required: true, placeholder: "ej: 9945568345" %>
            <%= p.input :facebook_link, required: true, placeholder: "Pega aquí el link",:label => "8. Link al perfil en Facebook <br/><span>(en caso no podamos comunicarnos contigo ni por teléfono o correo, intentaremos contactarte por Facebook)</span>".html_safe %>
            <!-- School Information -->
            <div class="subtitulo mb-35">
              <img src="">
              <h2 class="text-uppercase">Educación</h2>
            </div>
            <%= p.association :education, collection: [], label: "9. ¿Cuál es tu grado de educación?", :include_blank => "Elige tu grado de educación" %>
            <%= p.input :major, label: "10. ¿Qué carrera estudiaste / estás estudiando?", required: true, placeholder: "ej. Diseño de interiores" %>
            <%= p.input :school, label: "11. ¿Donde?", required: true, placeholder: "ej. Universidad de Piura" %>
            <%= p.association :semesters_left, collection: [], label: "¿Qué te falta para terminar?", :include_blank => "Elige una opción" %>
            <%= p.input :reasons_school_not_done, label: "¿Por qué no has terminado?",collection: Profile.enum_labels(Profile.reasons_school_not_dones,"reasons_school_not_done"), :include_blank => "Elige una opción",required: true %>
            <div class="subtitulo mb-35">
              <img src="">
              <h2 class="text-uppercase">Trabajo</h2>
            </div>
            <%= p.input :job_status, label:"16. ¿Has trabajado antes?", collection: Profile.enum_labels(Profile.job_statuses,"job_status"), as: :radio_buttons, required: true %>
            <div>Considera tu último trabajo para responder. Si aún estas trabajando, responde con los datos de tu actual trabajo</div>
            <%= p.input :work_for, label: "17. ¿Trabajabas para una empresa o de manera independiente?", collection: Profile.enum_labels(Profile.work_fors,"work_for"), as: :radio_buttons,required: true %>
            <%= p.input :job_title, label: "18. ¿Cuál es/era tu rol?", required: true, placeholder: "ej. administradora de ventas" %>
            <%= p.input :job_payroll, label: "19. ¿Es/Era un trabajo formal? - Se considera formal si es que cuando recibiste el pago giraste recibos por honorarios o te encontrabas en planilla.", as: :radio_buttons, required: true %>
            <%= p.input :job_type, label: "20. ¿Cuál es tu horario?", collection: Profile.enum_labels(Profile.job_types,"job_type"),as: :radio_buttons, required: true %>
            <%= p.association :job_salary, label: "21. ¿Cuánto recibes/recibías de sueldo al mes?<br/><span>Este sueldo es libre de impuestos, es lo que tú percibes al final del mes</span>".html_safe, collection: [], placeholder: "Elige una opción" %>
            <div class="subtitulo mb-35">
              <img src="">
              <h2 class="text-uppercase">Contexto Familiar</h2>
            </div>
            <%= p.association :family_income, collection:[], required: true, label:"22. ¿Cuál es el ingreso mensual de tu familia?<br/><span>Este ingreso es la suma de todas las contribuciones de los miembros de tu hogar. Si contribuyes, inclue el tuyo. Ejemplo: si vives con tu mamá y tu hermano, y sólo tu mamá y tú trabajan, el ingreso familiar es la suma de tu ingreso mensual con el ingreso mensual de tu mamá</span>".html_safe %>
            <%= p.input :relatives, label: "23. ¿Cuántas personas más viven en tu casa (sin contarte)?", placeholder: "ej: 5" %>
            <%= p.input :childs, label: "24. ¿Tienes hijos?", as: :radio_buttons %>
            <div class="subtitulo mb-35">
              <img src="">
              <h2 class="text-uppercase">Intereses</h2>
            </div>
            <%= p.input :tech_savy, label: "25. ¿Con qué puntaje calificarías tu interés por la tecnología?",collection:[["",1],["",2],["",3],["",4],["",5]], as: :radio_buttons,:item_wrapper_class => 'checkbox-inline' %>
            <%= p.input :tech_related_activities, label: "29. ¿Qué tipo de actividades relacionadas a la tecnología te gustan hacer?", collection: Profile.enum_labels(Profile.tech_related_activities,"tech_related_activities"), as: :check_boxes %>
            <%= p.input :other_tech_related_activities %>
            <%= p.input :computer_at_home, label: "30. ¿Tienes una computadora/un computador funcional en casa?", as: :radio_buttons %>
            <%= p.input :internet_access, label: "31. ¿Tienes una conexión a internet en casa?", as: :radio_buttons %>
            <%= p.input :smartphone, label: "32. ¿Tienes un smartphone?", as: :radio_buttons %>
            <%= p.input :computer_use ,label: "33. ¿Con qué frecuencia usas computadoras/el computador?", collection: Profile.enum_labels(Profile.computer_uses,"computer_use"), as: :radio_buttons %>
            <%= p.input :biography, label: "34. Descríbete a ti misma en 100 palabras como máximo",as: :text %>
          </div>
          <div class="spots">
            <h2>Elige tu turno</h2>
            <p>El siguiente paso es asistir a una jornada de exámenes presenciales
              en Laboratoria que se realizará desde el martes 22 de noviembre al
              jueves 01 de diciembre. El tiempo aproximado de duración es de 3 horas
              y no es necesario estudiar ya que son pruebas de razonamiento lógico
              y habilidades emocionales. Por favor, elige un turno en el que puedas
              asistir puntualmente.
            </p>
            <%= p.association :spot, label: "Elige tu turno", placeholder: "Elige una opción", collection: [] %>
          </div>
          <p>Revisa tus respuestas antes de dar clic en enviar. No podrás modificarlas luego.</p>
          <div class="form-actions">
            <%= f.button :submit, "Enviar", :class => "btn btn-primary" %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script><%= render 'dynamic_profile.js.erb' %></script>
<% end %>
