<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.simple_fields_for :profile do |p| %>
    <div class="container">
      <div class="form form-session">
          <%= f.error_notification %>
          <div class="form-inputs">
            <!-- User information -->
            <%= p.input :name, label: "1. Nombre y Apellidos", required: true, placeholder: "Nombre" %>
            <%= f.input :email,label: "3. Correo electrónico", required: true, placeholder: "ej: ejemplo@gmail.com" %>

            <!-- General Information -->
            <%= p.input :dni, label: "4. Documento de identidad", required: true, placeholder: "ej: 95749345" %>
            <%= p.input :birth_date, label: "Fecha de nacimiento", required: true %>
            <%= f.input :signup_branch, label: "¿En qué ciudad vives? / ¿A qué ciudad estás postulando?", collection: Branch.all, :include_blank => "Selecciona una ciudad" %>
            <%= p.input :district,collection: [],label: false %>
            <%= p.input :phone1, label: false, required: true, placeholder: "ej: 9945568345" %>
            <%= p.input :phone2, label: false, required: true, placeholder: "Teléfono" %>
            <%= p.input :facebook_link, label: false, required: true, placeholder: "Pega aquí el link" %>

            <!-- School Information -->
            <%= p.input :education, label:false, collection: [] %>
            <%= p.input :major, label: false, required: true, placeholder: "" %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Registrarte", :class => "btn btn-primary" %>
            <%= link_to "Cancelar", new_user_session_path, :class => "btn btn-default btn-danger" %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script><%= render 'dynamic_profile.js.erb' %></script>
<% end %>
