<%= bootstrap_flash %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.simple_fields_for :profile do |p| %>
    <div class="form-postula">
      <div class="form form-session">
        <div class="container-sm ph-42 pv-56">
          <%= f.error_notification %>
          <div class="form-inputs">
            <!-- User information -->
            <div class="subtitulo mb-35">
              <%= image_tag "admission/datos_personales.png", alt: "Datos Generales" %>
              <h2 class="text-uppercase">Datos Generales</h2>
            </div>
            <%= p.input :name, label: "1. Nombre y Apellidos", placeholder: "Nombre" %>
            <%= f.input :email,label: "2. Correo electrónico", placeholder: "ej: ejemplo@gmail.com", required:false %>
            <%= p.input :dni, label: "3. Documento de identidad <br /><p>Indica el número de tu DNI/CURP/Cédula de identidad o documento de extranjería</p>".html_safe, placeholder: "ej: 95749345" %>
            <%= p.input :birth_date, label: "4. Fecha de nacimiento", start_year: Date.today.year - 17, end_year: 1975, :include_blank => true, :input_html => {:class => "birth_date"} %>
            <%= f.input :signup_branch, label: "5. ¿A qué ciudad estás postulando?", collection: Branch.all, :include_blank => "Selecciona una ciudad" %>
            <%= p.association :district, label: "6. ¿Cuál es la delegación/distrito/comuna donde vives?", collection: District.by_branch(resource.signup_branch), :include_blank => "Elige colonia/distrito/comuna" %>
            <%= p.input :phone1, label: "7. Necesitamos que nos brindes un número personal al que podamos contactarte directamente:", placeholder: "ej: 9945568345" %>
            <%= p.input :facebook_link,:label => "8. Link al perfil en Facebook <br/><p>(en caso no podamos comunicarnos contigo ni por teléfono o correo, intentaremos contactarte por Facebook)</p>".html_safe, placeholder: "Pega aquí el link" %>
            <!-- School Information -->
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/blackboard.png", alt: "Educación" %>
              <h2 class="text-uppercase">Educación</h2>
            </div>
            <%= p.association :education, label: "9. ¿Cuál es tu máximo grado de educación?", collection: Education.by_branch(resource.signup_branch), :include_blank => "Elige tu grado de educación" %>
            <%= p.input :major, label: "¿Qué carrera estudiaste / estás estudiando?", placeholder: "ej. Diseño de interiores"%>
            <%= p.input :school, label: "¿En qué universidad o instituto?", placeholder: "ej. Universidad de Piura"%>
            <%= p.association :semesters_left, label: "¿Qué te falta para terminar?", collection: SemestersLeft.by_branch(resource.signup_branch), :include_blank => "Elige una opción"%>
            <%= p.input :reasons_school_not_done, label: "¿Por qué no has terminado?",collection: Profile.enum_labels(Profile.reasons_school_not_dones,"reasons_school_not_done"), :include_blank => "Elige una opción"%>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/experiencia_laboral.png", alt: "Trabajo" %>
              <h2 class="text-uppercase">Trabajo</h2>
            </div>
            <%= p.input :job_status, label:"10. ¿Has trabajado antes?", collection: Profile.enum_labels(Profile.job_statuses,"job_status"), as: :radio_buttons %>
            <div class="indicaciones indicacion-trabajo mb-49">Para las próximas preguntas de esta sección, considera tu trabajo actual para responder. Si no estás trabajando, considera los datos de tu último trabajo.</div>
            <%= p.input :work_for, label: "¿Trabajas/Trabajabas para una empresa o de manera independiente?", collection: Profile.enum_labels(Profile.work_fors,"work_for"), as: :radio_buttons %>
            <%= p.input :work_for_details, label: false, placeholder: "Especifica tu otra forma de trabajo" %>
            <%= p.input :job_title, label: "¿Cuál es/era tu rol?", placeholder: "ej. administradora de ventas" %>
            <%= p.input :job_payroll, label: "¿Es/Era un trabajo formal? - Se considera formal si es que cuando recibiste el pago giraste recibos por honorarios o te encontrabas en planilla.", as: :radio_buttons %>
            <%= p.input :job_type, label: "¿Cuál es/era tu horario?", collection: Profile.enum_labels(Profile.job_types,"job_type"),as: :radio_buttons %>
            <%= p.association :job_salary, label: "¿Cuánto recibes/recibías de sueldo al mes?<br/><p>Por favor indica tu  sueldo neto, lo que recibes/recibías en efectivo o en tu cuenta al final de cada mes, después de todos los descuentos (impuestos, seguros, etc).</p>".html_safe, collection: JobSalary.by_branch(resource.signup_branch), placeholder: "Elige una opción" %>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/familia.png", alt: "Contexto Familiar" %>
              <h2 class="text-uppercase">Contexto Familiar</h2>
            </div>
            <%= p.association :family_income, collection: FamilyIncome.by_branch(resource.signup_branch), label:"11. ¿Cuál es el ingreso mensual de tu familia?<br/><p>Este ingreso es la suma de todas las contribuciones de los miembros de tu hogar. Si contribuyes, incluye tu salario. Ejemplo: si vives con tu mamá y tu hermano, y sólo tu mamá y tú trabajan, el ingreso familiar es la suma de tu ingreso mensual con el ingreso mensual de tu mamá.</p>".html_safe %>
            <%= p.input :relatives, label: "12. ¿Cuántas personas más viven en tu casa (sin contarte)?", placeholder: "ej: 5", :input_html => { min: 0 } %>
            <%= p.input :childs, label: "13. ¿Tienes hijos?", as: :radio_buttons %>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/intereses.png", alt: "Intereses" %>
              <h2 class="text-uppercase">Intereses</h2>
            </div>
            <%= p.input :tech_savy, label: "14. ¿Con qué puntaje calificarías tu interés por la tecnología?",collection:[["",1],["",2],["",3],["",4],["",5]], as: :radio_buttons,:item_wrapper_class => 'checkbox-inline' %>
            <%= p.input :computer_at_home, label: "15. ¿Tienes una computadora/un computador funcional en casa?", as: :radio_buttons %>
            <%= p.input :internet_access, label: "16. ¿Tienes una conexión a internet en casa?", as: :radio_buttons %>
            <%= p.input :smartphone, label: "17. ¿Tienes un smartphone?", as: :radio_buttons %>
            <%= p.input :computer_use ,label: "18. ¿Con qué frecuencia usas computadoras/el computador?", collection: Profile.enum_labels(Profile.computer_uses,"computer_use"), as: :radio_buttons %>
            <%= p.association :tech_related_activities, collection: TechRelatedActivity.all, as: :check_boxes, label: "19. ¿Qué tipo de actividades relacionadas a la tecnología sueles hacer? <br /><p>Puedes marcar todas las opciones con las que te identifiques.</p>".html_safe %>
            <%= p.input :other_tech_related_activities, label: "Especifica  las actividades que realizas" %>
            <%= p.input :biography, label: "20. Descríbete a ti misma en 100 palabras como máximo",as: :text %>
            <%= p.input :reasons_to_enter, label: "21. ¿Por qué quieres ingresar a Laboratoria?", as: :text %>
            <%= p.input :how_you_find_out, label: "22. ¿Cómo te enteraste de Laboratoria?", as: :text %>
            <%= p.input :what_is_laboratoria, label: "23. En tus propias palabras, ¿qué crees que es Laboratoria?", as: :text %>
            <%= p.input :student_lifespan, label: "24. En caso de entrar a Laboratoria, ¿Por cúanto tiempo crees que te dediques a la programación?", as: :text %>
          </div>
        </div>
        <div id="elige-turno">
          <div class="container-sm ph-42 pv-70">
            <div class="spots">
              <h2 class="text-center light mb-42">Elige tu turno</h2>
              <p class="text-justify">Muchas gracias por contestar estas preguntas. Tu próximo paso es asistir a Laboratoria
                para una sesión de pruebas que durará aproximadamente 4 horas. Abajo podrás escoger el turno
                en el cual quieres venir. Esta sesión tiene como objetivo conocerte mejor, descubrir tus
                habilidades socio emocionales y cognitivas y medir tu capacidad para aprender a programar.
                No es necesario estudiar, así que no te preocupes por eso. Solamente pedimos que
                vengas con mucha energía y que te concentres durante las pruebas.</p>
              <%= p.association :spot, label: "Por favor escoge el turno en el cual vas a venir a tomar las pruebas a finales
              de noviembre o principios de diciembre:", placeholder: "Elige una opción", collection: Spot.by_branch(resource.signup_branch) %>
            </div>
            <p><i>Revisa tus respuestas antes de dar clic en enviar. No podrás modificarlas luego.</i></p>
            <div class="form-actions">
              <%= f.button :submit, "enviar →", :class => "btn-block pv-21 mv-56" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script>
    var input = $(".form-postula").find("input");
    $(input).click(function(){
      $(this).parents(".radio_buttons").find("input").removeClass("checked");
      $(this).parents(".radio_buttons").find("label").removeClass("highlight");
      if ($(this).is(":checked")) {
        $(this).addClass("checked");
        $(this).parent().addClass("highlight");
      } else {
        $(this).removeClass("checked");
        $(this).parent().removeClass("highlight");
      }
    });
  </script>
  <script><%= render 'dynamic_profile.js.erb' %></script>
<% end %>
