<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.simple_fields_for :profile do |p| %>
    <div class="form-postula">
      <div class="form form-session">
        <div class="container-sm ph-42 pv-56">
          <%= f.error_notification %>
          <div class="form-inputs">
            <!-- User information -->
            <div class="subtitulo mb-35">
              <%= image_tag "admission/datos_personales.png", alt: "Datos Generales" %>
              <h2 class="text-uppercase">Datos Generales</h2>
            </div>
            <%= p.input :name, label: "1. Nombre y Apellidos", required: true, placeholder: "Nombre" %>
            <%= f.input :email,label: "2. Correo electrónico", required: true, placeholder: "ej: ejemplo@gmail.com" %>
            <%= p.input :dni, label: "3. Documento de identidad", required: true, placeholder: "ej: 95749345" %>
            <%= p.input :birth_date, label: "4. Fecha de nacimiento", required: true, start_year: Date.today.year - 17, end_year: 1975 %>
            <%= f.input :signup_branch, label: "5. ¿En qué ciudad vives? / ¿A qué ciudad estás postulando?", collection: Branch.all, :include_blank => "Selecciona una ciudad" %>
            <%= p.association :district,collection: [],label: "6. ¿Cuál es la colonia/distrito/comuna donde vives?", :include_blank => "Elige colonia/distrito/comuna" %>
            <%= p.input :phone1, label: "7. Celular / Teléfono", required: true, placeholder: "ej: 9945568345" %>
            <%= p.input :facebook_link, required: true, placeholder: "Pega aquí el link",:label => "8. Link al perfil en Facebook <br/><p>(en caso no podamos comunicarnos contigo ni por teléfono o correo, intentaremos contactarte por Facebook)</p>".html_safe %>
            <!-- School Information -->
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/blackboard.png", alt: "Educación" %>
              <h2 class="text-uppercase">Educación</h2>
            </div>
            <%= p.association :education, collection: [], label: "9. ¿Cuál es tu grado de educación?", :include_blank => "Elige tu grado de educación" %>
            <%= p.input :major, label: "10. ¿Qué carrera estudiaste / estás estudiando?", required: true, placeholder: "ej. Diseño de interiores", disabled: true %>
            <%= p.input :school, label: "11. ¿Donde?", required: true, placeholder: "ej. Universidad de Piura", disabled: true %>
            <%= p.association :semesters_left, collection: [], label: "12. ¿Qué te falta para terminar?", :include_blank => "Elige una opción", disabled: true %>
            <%= p.input :reasons_school_not_done, label: "13. ¿Por qué no has terminado?",collection: Profile.enum_labels(Profile.reasons_school_not_dones,"reasons_school_not_done"), :include_blank => "Elige una opción",required: true, disabled: true %>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/experiencia_laboral.png", alt: "Trabajo" %>
              <h2 class="text-uppercase">Trabajo</h2>
            </div>
            <%= p.input :job_status, label:"14. ¿Has trabajado antes?", collection: Profile.enum_labels(Profile.job_statuses,"job_status"), as: :radio_buttons, required: true %>
            <div class="indicaciones mb-49">Considera tu último trabajo para responder. Si aún estas trabajando, responde con los datos de tu actual trabajo</div>
            <%= p.input :work_for, label: "15. ¿Trabajabas para una empresa o de manera independiente?", collection: Profile.enum_labels(Profile.work_fors,"work_for"), as: :radio_buttons,required: true, disabled: true %>
            <%= p.input :job_title, label: "16. ¿Cuál es/era tu rol?", required: true, placeholder: "ej. administradora de ventas", disabled: true %>
            <%= p.input :job_payroll, label: "17. ¿Es/Era un trabajo formal? - Se considera formal si es que cuando recibiste el pago giraste recibos por honorarios o te encontrabas en planilla.", as: :radio_buttons, required: true, disabled: true %>
            <%= p.input :job_type, label: "18. ¿Cuál es tu horario?", collection: Profile.enum_labels(Profile.job_types,"job_type"),as: :radio_buttons, required: true, disabled: true %>
            <%= p.association :job_salary, label: "19. ¿Cuánto recibes/recibías de sueldo al mes?<br/><p>Este sueldo es libre de impuestos, es lo que tú percibes al final del mes</p>".html_safe, collection: [], placeholder: "Elige una opción", disabled: true %>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/familia.png", alt: "Contexto Familiar" %>
              <h2 class="text-uppercase">Contexto Familiar</h2>
            </div>
            <%= p.association :family_income, collection:[], required: true, label:"20. ¿Cuál es el ingreso mensual de tu familia?<br/><p>Este ingreso es la suma de todas las contribuciones de los miembros de tu hogar. Si contribuyes, inclue el tuyo. Ejemplo: si vives con tu mamá y tu hermano, y sólo tu mamá y tú trabajan, el ingreso familiar es la suma de tu ingreso mensual con el ingreso mensual de tu mamá</p>".html_safe %>
            <%= p.input :relatives, label: "21. ¿Cuántas personas más viven en tu casa (sin contarte)?", placeholder: "ej: 5" %>
            <%= p.input :childs, label: "22. ¿Tienes hijos?", as: :radio_buttons %>
            <div class="subtitulo mb-35 pt-70 mt-21">
              <%= image_tag "admission/intereses.png", alt: "Intereses" %>
              <h2 class="text-uppercase">Intereses</h2>
            </div>
            <%= p.input :tech_savy, label: "23. ¿Con qué puntaje calificarías tu interés por la tecnología?",collection:[["",1],["",2],["",3],["",4],["",5]], as: :radio_buttons,:item_wrapper_class => 'checkbox-inline' %>
            <%= p.association :tech_related_activities,collection: TechRelatedActivity.all, as: :check_boxes, label: "24. ¿Qué tipo de actividades relacionadas a la tecnología te gustan hacer?" %>
            <%= p.input :other_tech_related_activities, label: "Especifica  las actividades que realizas" %>
            <%= p.input :computer_at_home, label: "25. ¿Tienes una computadora/un computador funcional en casa?", as: :radio_buttons %>
            <%= p.input :internet_access, label: "26. ¿Tienes una conexión a internet en casa?", as: :radio_buttons %>
            <%= p.input :smartphone, label: "27. ¿Tienes un smartphone?", as: :radio_buttons %>
            <%= p.input :computer_use ,label: "28. ¿Con qué frecuencia usas computadoras/el computador?", collection: Profile.enum_labels(Profile.computer_uses,"computer_use"), as: :radio_buttons %>
            <%= p.input :biography, label: "29. Descríbete a ti misma en 100 palabras como máximo",as: :text %>
          </div>
        </div>
        <div id="elige-turno">
          <div class="container-sm ph-42 pv-70">
            <div class="spots">
              <h2 class="text-center light mb-42">Elige tu turno</h2>
              <p class="text-justify">Gracias por contestar estas preguntas. Ahora tu próximo paso es asistir a Laboratoria para una sesión de pruebas que durará 4 horas. Esta sesión se dividirá en dos partes: primero te haremos varias preguntas para conocerte mejor y descubrir tus habilidades socio emocionales. Luego, mediremos tu potencial por la programación. Te haremos preguntas de lógica y abstracción y te presentaremos una lectura sencilla sobre desarrollo web front end, para que luego contestes preguntas sobre lo que leíste. No hace falta estudiar, pero si venir con mucha energía y concentrarte en tus respuestas.</p>
              <p>Por favor escoge el turno en el cual vas a venir a tomar la prueba a finales de noviembre y principios de diciembre:</p>
              <%= p.association :spot, label: "Elige tu turno", placeholder: "Elige una opción", collection: [] %>
            </div>
            <p><i>Revisa tus respuestas antes de dar clic en enviar. No podrás modificarlas luego.</i></p>
            <div class="form-actions">
              <%= f.button :submit, "enviar →", :class => "btn-block pv-21 mv-56" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script><%= render 'dynamic_profile.js.erb' %></script>
<% end %>
