<% content_for :scripts do %>
  <script type="text/javascript">
  	$(document).ready(function () {
	    $('#badge_image').on('change', function(event) {
		    var files = event.target.files;
		    var image = files[0]
		    var reader = new FileReader();
		    reader.onload = function(file) {
		      var img = new Image();
		      console.log(file);
		      img.src = file.target.result;
		      $('#target').html(img);
		    }
		    reader.readAsDataURL(image);
		    console.log(files);
		  });
  	});
  </script>
<% end %>
<%= simple_form_for(@badge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin-bottom:20px">
	  <div class="row">
	  	<div class="col-sm-3">
	       <%= f.input :name, placeholder: "Ingresa el nombre del badge", label: false %> 		
	  	</div>
	  </div>
	  <div class="row">
		  <div class="col-sm-3">
		  	<%= f.input :image, label: "Seleccione una imagen" %><br>
				<div id="target">
		  		<%= image_tag @badge.image.url(:normal) if @badge.image.exists? %>	
				</div>
		  </div>
	  </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Crear" ,class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', badges_path, class: 'btn btn-danger' %>
  </div>
<% end %>