<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <div class="pull-left">
      <h1 class="">Badges</h1>
    </div>

    <div class="pull-right">
      <%= link_to 'Nuevo Badge', new_badge_path, class: 'btn btn-primary btn-new' %>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Nombre</th>
        <th>Puntos</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @badges.each do |badge| %>
        <tr>
          <td><%= image_tag badge.image.url(:normal) %></td>
          <td><%= badge.name %></td>
          <td><%= badge.points %></td>
          <td>
            <%= link_to edit_badge_path(badge) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to badge, method: :delete, data: { confirm: '¿Está seguro?' } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>