<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Información básica</a>
    </li>
    <li role="presentation">
      <a href="#extra" aria-controls="extra" role="tab" data-toggle="tab">Información Extra</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="basic">
      <div class="form-inputs" style="width: 40%;padding: 20px 0px">
        <%= f.input :code, label: false, required: true, autofocus: true, placeholder: "Código laboratoria" %><br>
        <%= f.input :name, label: false, required: true, placeholder: "Nombre" %><br>
        <%= f.input :lastname1, label: false, required: true, placeholder: "Primer apellido" %><br>
        <%= f.input :lastname2, label: false, required: true, placeholder: "Segundo apellido" %><br>
        <%= f.input :email,label: false, required: true, placeholder: "Correo electrónico" %><br>
        <%= f.input :avatar, as: :file %> <br>
        <%= f.association :branch, prompt: "Selecciona una sede", collection: Branch.all, label:false  %><br>

        <p>Elige el rol del usuario:</p>
        <%= f.input :role, label: false, collection: User.roles.keys, label_method: lambda {|k| k.capitalize} %> <br>

        <%= f.input :password,label: false, required: true, placeholder: "Contraseña" %><br>
        <%= f.input :password_confirmation,label: false, required: true, placeholder: "Confirmar contraseña" %><br>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="extra">
      <div class="form-inputs" style="width:40%;padding: 20px 0px">
        <%= f.input :dni, label: false, required: true, placeholder: "DNI" %><br>
        <%= f.input :district, label: false, required: true, placeholder: "Distrito" %><br>
        <%= f.input :age, label: false, required: true, placeholder: "Edad" %><br>
        <%= f.input :facebook_username, label: false, required: true, placeholder: "Facebook User" %><br>
        <%= f.input :phone1, label: false, required: true, placeholder: "Teléfono" %><br>
        <%= f.input :phone2, label: false, required: true, placeholder: "Otro teléfono" %><br>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancelar', users_path, :class => "btn btn-danger" %>
  </div>
<% end %>
