<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#branches").change(function() {
        document.location = '<%= users_index_url %>/branch/' + this.value;
      });
      
      $(".disable-user").click(function(e) {
        e.preventDefault();
        $.post("/changeUserStatus",{
          user_id: $(this).attr("data-user-id"),
          status: true
        },function(result) {
          if (result.status == "ok") {
            swal({
              title: "Usuario deshabilitado",
              text: "Dale ok para continuar",
              confirmButtonText: "OK",
              closeOnConfirm: false,
              showLoaderOnConfirm: true
            },function() {
                window.location.reload(true);
            });
          } else {
            swal({
              title: "¡Hubo un error al intentar cambiar el status!",
              text: "Por favor vuelta a intentarlo.",
              type: "error",
              confirmButtonText: "OK",
              closeOnConfirm: true
            });
          }
        });
      });
      
      $(".enable-user").click(function(e) {
        e.preventDefault();
        $.post("/changeUserStatus",{
          user_id: $(this).attr("data-user-id"),
          status: false
        },function(result) {
          if (result.status == "ok") {
            swal({
              title: "Usuario habilitado",
              text: "Dale ok para continuar",
              confirmButtonText: "OK",
              closeOnConfirm: false,
              showLoaderOnConfirm: true
            },function() {
                window.location.reload(true);
            });
          } else {
            swal({
              title: "¡Hubo un error al intentar cambiar el status!",
              text: "Por favor vuelta a intentarlo.",
              type: "error",
              confirmButtonText: "OK",
              closeOnConfirm: true
            });
          }
        });
      });      
      
    });
  </script>
<% end %>
<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <h1 class="pull-left">Usuarios</h1>
    <div class="pull-right">
      <%= link_to 'Crear Usuario', new_user_path, :class => "btn btn-primary btn-new" %>
    </div>
  </div>
  <label for="branches">
    Sedes:
    <%= select_tag "branches", options_from_collection_for_select(@branches, "id", "name",@branch_id) %>
  </label>
  <br>
  <br>
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#students" aria-controls="students" role="tab" data-toggle="tab">Estudiantes</a>
    </li>
    <li role="presentation">
      <a href="#admins" aria-controls="admins" role="tab" data-toggle="tab">Administradores</a>
    </li>
    <li role="presentation">
      <a href="#disabled" aria-controls="disabled" role="tab" data-toggle="tab">Usuarios Deshabilitados</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="students">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Teléfono 1</th>
            <th>Teléfono 2</th>
            <th colspan="2"></th>
          </tr>
        </thead>
    
        <tbody>
          <% @students.each do |user| %>
            <tr>
              <td><%= link_to user.code, user %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone1 %></td>
              <td><%= user.phone2 %></td>
              <td><%= link_to 'Editar', edit_user_path(user) %></td>
              <td><a href="#" class="disable-user" data-user-id="<%= user.id %>">Deshabilitar</a></td>
              <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="admins">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Teléfono 1</th>
            <th>Teléfono 2</th>
            <th colspan="2"></th>
          </tr>
        </thead>
    
        <tbody>
          <% @admins.each do |user| %>
            <tr>
              <td><%= link_to user.code, user %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone1 %></td>
              <td><%= user.phone2 %></td>
              <td><%= link_to 'Editar', edit_user_path(user) %></td>
              <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="disabled">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Teléfono 1</th>
            <th>Teléfono 2</th>
            <th colspan="2"></th>
          </tr>
        </thead>
    
        <tbody>
          <% @disables.each do |user| %>
            <tr>
              <td><%= link_to user.code, user %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone1 %></td>
              <td><%= user.phone2 %></td>
              <td><a href="#" class="enable-user" data-user-id="<%= user.id %>">Habilitar</a></td>
              <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  

</div>