<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#branches").change(function() {
        document.location = '<%= users_index_url %>/branch/' + this.value;
      });

      // Filter users based on group
      $("#groups").change(function() {
        var groupId = this.value; // String

        // Avoid the option `select a group`
        if(groupId.length > 0) {
          console.log('AJAX request');
          var domain = document.location.origin;
          $.ajax(domain + '/admin/groups/'+ groupId, {
              type: 'GET'
          });
        }
      });


      $(".disable-user").click(function(e) {
        e.preventDefault();
        $.post("/changeUserStatus",{
          user_id: $(this).attr("data-user-id"),
          status: true
        },function(result) {
          if (result.status == "ok") {
            swal({
              title: "Usuario deshabilitado",
              text: "Dale ok para continuar",
              confirmButtonText: "OK",
              closeOnConfirm: false,
              showLoaderOnConfirm: true
            },function() {
                window.location.reload(true);
            });
          } else {
            swal({
              title: "¡Hubo un error al intentar cambiar el status!",
              text: "Por favor vuelta a intentarlo.",
              type: "error",
              confirmButtonText: "OK",
              closeOnConfirm: true
            });
          }
        });
      });

      $(".enable-user").click(function(e) {
        e.preventDefault();
        $.post("/changeUserStatus",{
          user_id: $(this).attr("data-user-id"),
          status: false
        },function(result) {
          if (result.status == "ok") {
            swal({
              title: "Usuario habilitado",
              text: "Dale ok para continuar",
              confirmButtonText: "OK",
              closeOnConfirm: false,
              showLoaderOnConfirm: true
            },function() {
                window.location.reload(true);
            });
          } else {
            swal({
              title: "¡Hubo un error al intentar cambiar el status!",
              text: "Por favor vuelta a intentarlo.",
              type: "error",
              confirmButtonText: "OK",
              closeOnConfirm: true
            });
          }
        });
      });

    });
  </script>
<% end %>
<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <h1 class="pull-left">Usuarios</h1>
    <div class="pull-right">
      <%= link_to 'Crear Usuario', new_user_path, :class => "btn btn-primary btn-new" %>
    </div>
  </div>
  <label class="mr-12" for="branches">
    Sede
    <%= select_tag "branches", options_from_collection_for_select(@branches, "id", "name",@branch_id) %>
  </label>
  <label class="mr-12" for="groups">
    Grupo
    <%= select_tag "groups", options_from_collection_for_select(@groups, :id, :name),
    prompt: 'Selecciona un grupo' %>
  </label>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs user-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#students" aria-controls="students" role="tab" data-toggle="tab">Estudiantes</a>
    </li>
    <li role="presentation">
      <a href="#admins" aria-controls="admins" role="tab" data-toggle="tab">Administradores</a>
    </li>
    <li role="presentation">
      <a href="#disabled" aria-controls="disabled" role="tab" data-toggle="tab">Usuarios Deshabilitados</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="students">
    <%= render 'users',users: @students %>
    </div>

    <div role="tabpanel" class="tab-pane" id="admins">
      <%= render 'users', users: @admins %>
    </div>

    <div role="tabpanel" class="tab-pane" id="disabled">
      <%= render 'users', users: @disables %>
    </div>
  </div>



</div>
