<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, as: :file %>
    <%= f.association :pages, as: :check_boxes,label_method: :title  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
