<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <h1 class="pull-left">Videos</h1>
    <div class="pull-right">
      <%= link_to 'Crear Video', new_video_path, :class => "btn btn-primary btn-new" %>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Curso</th>
        <th>Unidad</th>
        <th>Title</th>
        <th>Youtube Video</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @videos.each do |video| %>
        <tr>
            <td>
              <% video.pages.each do |page| %>
                <div><%= page.unit.course.name %></div>
              <% end %>              
            </td>            
            <td>
              <% video.pages.each do |page| %>
                <div><%= page.unit.title %></div>
              <% end %>              
            </td>
            <td>
              <% video.pages.each do |page| %>
                <div><%= page.title %></div>
              <% end %>
            </td>          
          <td><%= video.title %></td>
          <td><%= video.youtube%></td>
          <td>
            <%= link_to 'Editar', edit_video_path(video) %>  | 
            <%= link_to 'Eliminar', video, method: :delete, data: { confirm: '¿Estas seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>