<% content_for :scripts do %>
  <script>
    $(".dropdown-toggle").dropdown();
  </script>
<% end %>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#menu-navbar-collapse-1" 
                aria-expanded="false">
          
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>        
        <%= link_to course_list_path, :class => "navbar-brand" do %>
        	<%= image_tag 'isotipo.png' %>
        	Recursos laboratoria
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="menu-navbar-collapse-1">    
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              Bienvenida, <%= current_user.full_name %>
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle=dropdown>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin %>
                <li>
                  <%= link_to "Panel de administración", dashboard_path %>
                </li>
              <% end %>
              <li>
                <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </li>
        </ul>
      </div>      
    </div>
  </nav>
</header>