<% content_for :scripts do %>
  <script>
    $(".dropdown-toggle").dropdown();
  </script>
<% end %>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row pv-7">
        <div class="col-md-4">
          <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#menu-navbar-collapse-1"
                    aria-expanded="false">

              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <%= link_to image_tag("logo.svg",alt: "Laboratoria código que transforma", class: "logo-laboratoria", width: "190"), root_path %>
        </div>
        <div class="col-md-4 pt-7">
          <div class="collapse navbar-collapse" id="menu-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="header-arrow">
                <a href="#" class="dropdown-toggle " data-toggle=dropdown>
                  <%= current_user.full_name %>
                  <%= image_tag "arrow-up.png",alt: "Arrow up", class: "minh-icon-arrow arrow up hide", data: { el: "down" } %>
                  <%= image_tag "arrow-down.png",alt: "Arrow down", class: "minh-icon-arrow arrow down", data: { el: "up" } %>
                </a>
                <ul class="dropdown-menu">
                  <% unless current_page?(myprofile_path) %>
                    <li>
                      <%= link_to('Mi Perfil', myprofile_path, :method => :get) %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to('Mis Cursos', root_path, :method => :get) %>
                    </li>
                  <% end %>
                  <% unless current_page?(code_review_path) %>
                    <li>
                      <%= link_to('Code Review', code_review_path, :method => :get) %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to('Mis Cursos', root_path, :method => :get) %>
                    </li>
                  <% end %>

                  <!-- Display admin panel link only if the user is not a student -->
                  
                  <% unless current_user.student? %>
                    <li>
                      <%= link_to("Panel de administración", dashboard_path, :method => :get) %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
