<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function () {

      $(".lesson-checkbox input[type=checkbox]").each(function(index,ck) {
        var chks = $(this).parents(".lessons-panel").find(".lesson-"+this.value+"-pages").find("input[type=checkbox]").map(function() {
          return this.checked;
        }).get();
        $(this).prop('checked',checked(chks));
      });

      $(".lesson-checkbox input[type=checkbox]").change(function(e) {
        var id = $(e.target).val();
        $(".lesson-"+id+"-pages input[type=checkbox]").prop('checked', this.checked);
      });

      $(".check_boxes input[type=checkbox]").change(function(e) {
        var lessonId = $(this).attr('lesson-id');
        var lessonCheckbox = $(this).parents(".lessons-panel").find("#lesson-"+lessonId+"-checkbox");
        var lessonCheckboxes = $(this).parents(".lessons-panel").find(".lesson-"+lessonId+"-pages").find("input[type=checkbox]").map(function() { return this.checked }).get();

        if (checked(lessonCheckboxes)) {
          lessonCheckbox.prop('checked',true);
        } else {
          lessonCheckbox.prop('checked',false);
        }
      });
    });

    //Search for all checked values or all no checked
    function checked(checkboxes) {
      var checked = false;
      $.each(checkboxes, function(index,ck) {
        if (ck) checked = true;
      });
      return checked;
    }

  </script>
<% end %>
<%= simple_form_for(@sprint) do |f| %>
  <%= f.error_notification %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>
      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs" style="margin-bottom:20px">
    <fieldset>
      <legend>Información general</legend>
      <%= f.input :sequence %>
      <%= f.input :name, placeholder: "Ingresa el nombre del sprint", label: false %>
      <%= f.input :description, placeholder: "Ingresa la descripción", label: false %>
      <%= f.association :group, collection: Branch.all, as: :grouped_select,
            group_method: :groups, label: false, :include_blank => "Seleccione un grupo" %>
    </fieldset><br>
    <fieldset class="lessons-panel">
      <legend>Lecciones asociadas</legend>
      <% @lessons.each do |lesson| %>
        <span class="checkbox lesson-checkbox">
          <label for="lesson-<%= lesson.id%>-checkbox">
            <input id="lesson-<%= lesson.id%>-checkbox"
                   type="checkbox" name="lessons[]"
                   value="<%= lesson.id %>"
                   class="check_boxes lesson-checkbox"
                   data-lesson="checkbox-<% lesson.id %>"/>
            <%= lesson.title %>
          </label>
        </span>
        <div style="margin-left: 30px;" class="lesson-<%= lesson.id %>-pages">
          <% lesson.pages.each do |page| %>
            <span class="checkbox">
              <label for="sprint_page_ids_<%= page.id %>">
                <input lesson-id="<%= lesson.id %>"
                       class="check_boxes optional"
                       type="checkbox"
                       value="<%= page.id %>"
                       <%= @sprint.page_ids.include?(page.id) ? "checked" : "" %>
                       name="sprint_pages[<%= page.id %>[page_id]]"
                       id="sprint_page_ids_<%= page.id %>">
                       <%= page.title %>
                       <% if page.page_type != "material" %>
                         <input type="number"
                                min="0"
                                style="width:60px;"
                                name="sprint_pages[<%= page.id %>[points]]"
                                value="<%= select_sprint_page(@sprint_pages_ids, page.id) %>"/>
                         <%= "Default: #{page.points} puntos" %>
                       <% end %>
                </label>
              </span>
          <% end %>
        </div>
      <% end %>

    </fieldset><br>
    <fieldset>
      <legend>Badges para este sprint</legend>
      <%= f.association :badges,
                        as: :check_boxes,
                        label: false,
                        label_method: :name,
                        value_method: :id,
                        checked: @sprint.badge_ids %>
    </fieldset>
  </div>
  <div class="form-actions">
    <%= f.button :submit,"Crear sprint", class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', sprints_path, class: 'btn btn-danger' %>
  </div>
<% end %>
