<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Detalles del sprint</h1>
    </div>

  <p>
    <strong>Nombre:</strong>
    <%= @sprint.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @sprint.description %>
  </p>
  <p>
    <strong>Grupo:</strong>
    <%= @sprint.group.name %>
  </p>
  <p>
    <strong>Lecciones</strong>
  </p>
  <% if @lessons.empty? %>
    <p> No hay lecciones asociadas a este sprint </p>
  <% else %>
    <div class="col-sm-12">
      <% @lessons.each_with_index do |lesson, index| %>

        <!-- To clear columns if one div is taller than other -->

        <% if index % 3 == 0 %>
          <div class="clearfix visible-sm visible-md visible-lg"></div>
        <% end %>

        <div class="col-sm-4">
          <p> <%= lesson.title %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= link_to 'Editar', edit_sprint_path(@sprint), class: 'btn btn-primary' %>
    <%= link_to 'Atrás', sprints_path, class: 'btn btn-danger' %>
  </div>
