<% content_for :scripts do %>
  <script>
  
    var converter;
    
    function showFields(sectionToShow,sectionToHide) {
      $.each(sectionToHide,function(index,section) {
        $("."+section).hide();
      });
      $("."+sectionToShow).show();
    }
    
    $(document).ready(function() {
      
      $("#page_page_type").change(function(select) {
        var page_type = $("#page_page_type").val();
        if (page_type === "video") {
          showFields("video_fields",["editor_fields","questions_fields","html_fields",
                                     "slide_fields","exercise_fields"]);
        } else if (page_type === "editor") {
          showFields("editor_fields",["video_fields","questions_fields","html_fields",
                                     "slide_fields","exercise_fields"]);      
        } else if (page_type === "questions") {
          showFields("questions_fields",["video_fields","editor_fields","html_fields",
                                     "slide_fields","exercise_fields"]);          
        } else if (page_type === "closer") {
          showFields("html_fields",["video_fields","editor_fields",
                                     "slide_fields","exercise_fields"]);        
        } else if (page_type === "opener") {
          showFields("html_fields",["video_fields","editor_fields",
                                     "slide_fields","exercise_fields"]);  
        } else if (page_type === "html") {
          showFields("html_fields",["video_fields","editor_fields",
                                     "questions_fields","slide_fields","exercise_fields"]);    
        } else if (page_type === "slides") {
          showFields("slide_fields",["video_fields","editor_fields",
                                     "questions_fields", "html_fields","exercise_fields"]); 
        } else if (page_type === "exercise") {
          showFields("exercise_fields",["video_fields","editor_fields", "questions_fields",
                                     "html_fields","slides_fields"]); 
        }
      });
      
      if (document.getElementById("page_html") !== null) {
        editor = CodeMirror.fromTextArea(document.getElementById("page_html"), {
          lineWrapping: true
        });
      }
      
      if (document.getElementById("page_initial_state") !== null) {
        editor = CodeMirror.fromTextArea(document.getElementById("page_initial_state"), {
          lineWrapping: true,
          lineNumbers: true
        });
      }
      
      if (document.getElementById("page_solution") !== null) {
        editor = CodeMirror.fromTextArea(document.getElementById("page_solution"), {
          lineWrapping: true,
          lineNumbers: true
        });
      }
      
    });
  </script>
<% end %>

<%= simple_nested_form_for([@course,@unit,@page]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sequence %>
    <%= f.input :title %>
    <%= f.input :page_type, :collection => [['video','video'],['editor','editor'],['questions','questions'],['closer','closer'],['opener','opener'],['html','html'],['slides','slides'],['exercise','exercise']] %>
    <div class="video_fields" style="<%= @page.page_type == "video" ? "": "display:none;"%>">
      <%= f.association :videos, as: :check_boxes,label_method: :title  %>
    </div>
    <div class="editor_fields" style="<%= @page.page_type == "editor" ? "": "display:none;"%>">
      <%= f.input :instructions, as: :pagedown, input_html: { preview: true, rows: 10 } %>
      <%= f.input :success_message %><br>
      <%= f.input :points, label: "Editor points" %><br>
      <%= f.input :videotip %><br>
      <%= f.input :initial_state, as: :text, input_html: { placeholder: "Estado inicial del editor" } %>
      <%= f.input :load_from_previous, as: :boolean %><br>
      <%= f.input :solution, as: :text, input_html: { placeholder: "Solución del problema" } %>
      <%= f.input :auto_corrector, as: :boolean %>
    </div>
    <div id="questions_fields" class="questions_fields" style="<%= @page.page_type == "questions" ? "": "display:none;"%>">
      <%= f.input :question_points %><br>
      <%= f.input :selfLearning %><br>
      <table id="questions_field" style="width:70%">
        <%= f.fields_for :question_groups, :wrapper => false do |qg|%>
          <tr class="fields">
            <td style="width: 5%;"><%= qg.input :sequence,label: false %></td>
            <td><%= qg.select :question_id, Question.all.collect { |p| [p.description, p.id] } %></td>
            <td><%= qg.link_to_remove "Eliminar" %></td>
          </tr>
        <% end %>
      </table>
      <%= f.link_to_add "Añadir pregunta", :question_groups, :data => { :target => "#questions_field" } %>
    </div>
    <div id="html_fields" class="html_fields" style="<%= (@page.page_type == "html" or @page.page_type == "opener" or @page.page_type == "closer") ? "": "display:none;"%>">
      <br>
      <%= f.input :html, as: :text %>
    </div>
    <div id="slide_fields" class="slide_fields" style="<%= @page.page_type == "slides" ? "" : "display:none;"%>">
      <%= f.input :slide_url %>
    </div>
    <div id="exercise_fields" class="exercise_fields" style="<%= @page.page_type == "exercise" ? "" : "display:none;"%>">
      <%= f.input :excercise_instructions, as: :pagedown, input_html: { preview: true, rows: 10 } %><br>
      <%= f.input :document, as: :file %><br>
      <%= f.input :solution_file, as: :file %><br>
      <%= f.input :video_solution %><br>
      <%= f.input :show_solution, as: :boolean %><br>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancelar', [@course,@unit],:class => "btn btn-danger" %>  
  </div>
<% end %>
