<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      CAPITAN.page.form.init();
    });
  </script>
<% end %>

<%= simple_nested_form_for([@course,@unit,@page]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sequence %>
    <%= f.input :title %>
    <%= f.input :page_type, :collection => [['video','video'],['editor','editor'],['questions','questions'],['closer','closer'],['opener','opener'],['html','html'],['slides','slides'],['exercise','exercise']] %>
    <%= render :partial=> 'pages/form/video_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/editor_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/question_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/html_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/slide_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/exercise_fields', :locals => {:f => f} %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary page-submit-form" %>
    <%= link_to 'Cancelar', [@course,@unit],:class => "btn btn-danger" %>  
  </div>
<% end %>
