<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      CAPITAN.page.form.init();
    });
  </script>
<% end %>

<%= simple_nested_form_for([@track,@course,@unit,@lesson,@page]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :sequence %><br>
    <%= f.input :title %><br>
    <%= f.input :points, label: "Points" %><br>
    <%= f.input :page_type, 
      :collection => [['Material','material'],['Pre-work','prework'],['Quiz','quiz'],
      ['Exercise','exercise'],['Solution','solution'],['Retrospective','retrospective'], 
      ['Peer Review', 'peerreview']] %><br>
    <%= render :partial=> 'pages/form/material_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/quiz_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/exercise_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/solution_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/peerreview_fields', :locals => {:f => f} %>
    <%= render :partial=> 'pages/form/html_fields', :locals => {:f => f} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary page-submit-form" %>
    <%= link_to 'Cancelar', [@track,@course,@unit,@lesson],:class => "btn btn-danger" %>  
  </div>
<% end %>
