<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    
    <h1>Listing Pages</h1>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>type</th>
          <th>Sequence</th>
          <th>Unit</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @pages.order(:sequence).each do |page| %>
          <tr>
            <td><%= page.title %></td>
            <td><%= page.page_type %></td>
            <td><%= page.sequence %></td>
            <td><%= page.unit.title %></td>
            <td><%= link_to 'Show', course_unit_page_path(@course,@unit,page) %></td>
            <td><%= link_to 'Edit', edit_course_unit_page_path(@course,@unit,page) %></td>
            <td><%= link_to 'Destroy', [@course,@unit,page], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Page', new_course_unit_page_path(@course,@unit) %>    
  </div>
</div>