<% content_for :scripts do %>
  <script>
    
    var player;
    var delay;
    var editor;
    var converter;
    var numberAttempts = 0;
    
    $(document).ready(function() {
      <% if @page.page_type == 'editor' %>
        
        converter = new Markdown.Converter();
        
        $(".instructions").html(converter.makeHtml('<%= escape_javascript(@page.instructions)%>'));
        
        if (document.getElementById("code") !== null) {
          editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            lineWrapping: true
          });
          
          editor.on("change", function() {
            clearTimeout(delay);
            delay = setTimeout(updatePreview, 300);
          });
          
          setTimeout(updatePreview, 300);
        }
        
        $(".start-over").click(function(e) {
          e.preventDefault();
          editor.setValue($("#initial_state").val());
        });
        
        $(".save").click(function(e) {
          e.preventDefault();
          
          if (isValidCode(editor.getValue())) {
            swal({
              title: "<%= @page.success_message.split("|")[0] %>",   
              text: "<%= @page.success_message.split("|")[1]%>",   
              type: "success",
              confirmButtonText: "Grabar mi respuesta",   
              closeOnConfirm: false,   
              showLoaderOnConfirm: true,
              html: true
            },function() {
              $.post("/saveAnswer",{
                answer: editor.getValue(),
                page_id: <%= @page.id %>
              },function(result) {
                if (result.status == "ok") {
                  swal({
                    title: "Tu código se grabó con éxito",
                    text: "Da click en continuar para seguir con las siguientes actividades",
                    confirmButtonText: "Continuar",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                  },function() {
                    window.location = '<%= course_unit_page_url(@course,@unit,@next_page) %>';
                  });
                } else {
                  swal({
                    title: "¡Hubo un error al intentar grabar la respuesta!",
                    text: "Por favor vuelta a intentarlo.",
                    type: "error",
                    confirmButtonText: "OK",
                    closeOnConfirm: true
                  });
                }
              });
            });
          } else {
            numberAttempts = numberAttempts + 1;
            if (numberAttempts < 3) {
              swal({
                title: "¡Ups! Parece que debes revisar tu código.",
                text: "Inténtalo de nuevo y revisa que estés colocando el texto exacto, incluyendo los signos de puntuación",
                type: "error",
                confirmButtonText: "OK",
              });
            } else {
              swal({
                title: "¿Problemas?",
                text: "Hemos notado que te estás quedando atascada con este ejercicio, mejor continua con los demás y de ahi regresas por este.",
                type: "warning",
                showCancelButton: true,   
                confirmButtonColor: "#5CB85C",   
                closeOnConfirm: false,
                confirmButtonText: "Siguiente lección",
                cancelButtonText: "Seguir intentándolo",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
              },function() {
                window.location = '<%= course_unit_page_url(@course,@unit,@next_page) %>';
              });
            }
          }
        });
        
        $(".check-video-again").click(function(e) {
          e.preventDefault();
          swal({
            title: "Repacemos la lección",
            text: '<iframe width="100%" height="315" src="http://www.youtube.com/embed/'+'<%= @page.videotip %>'+'" frameborder="0" allowfullscreen></iframe>',
            html: true
          });
        });
        
      <% end %>
      
      <% if @page.page_type == 'video' %>
        $(".rewind-video").click(function(e) {
            e.preventDefault();
            $(".video-overlay").hide();
            player.seekTo(0,true);
        });
      <% end %>
      
      <% if @page.page_type == 'questions' %>

        $(".next-step").click(function(e) {
          e.preventDefault();
          
          if ($('input[name=question-option]:checked').val() != null) {
            $.post("/saveQuestion",{
              option_id: $('input[name=question-option]:checked').val(),
              page_id: <%= @page.id %>,
              question_group_id: $('input[name=question-option]:checked').attr("data-question-id"),
              sequence: parseInt($("#sequence").text())
            }, function(result) {
              if (result.status == "ok") {
                if (result.sequence != "MAX") {
                  $("#sequence").text(result.sequence);
                  $(".question").hide();
                  $("div[data-question-id="+result.questionGroupId+"]").show();
                } else {
                  $(".question-span").hide();
                  $(".question-finished").show();
                }
              } else {
                alert("Hubo un error al intentar grabar la respuesta, por favor vuelta a intentarlo");
              }
            });          
          } else {
            alert("Por favor seleccione una respuesta");
          }
        });
        
        $(".next-step-finished").click(function(e) {
          e.preventDefault();
          window.location = '<%= course_unit_page_url(@course,@unit,@next_page) %>';
        });        
        
      <% end %>
    });
    
    function isValidCode(code) {
      var cleanCode = code.replace(/\>\s+\</g,'').replace(/ /g,'').replace(/;/g,"");
      var solution = $("#solution").val().replace(/\>\s+\</g,'').replace(/ /g,'').replace(/;/g,"");
      return solution === cleanCode;
    }
    
    function updatePreview() {
      var previewFrame = document.getElementById('preview');
      var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
      preview.open();
      preview.write(editor.getValue());
      preview.close();
    }    
    
    <% if @page.page_type == 'video' %>
    
      if (typeof youtube_api_init == 'undefined') {
        var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }     
      
      if (typeof youtube_api_init != 'undefined') {
        onYouTubePlayerAPIReady();
      }
    
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('video-content', {
          height: '390',
          width: '640',
          videoId: '<%= @page.videos.first.youtube if @page.videos.first != nil %>',
          events: {
            'onStateChange': onPlayerStateChange
          }
        });
      }
  
      // when video ends
      function onPlayerStateChange(event) {        
          if(event.data === 0) {            
              $(".video-overlay").show();
          }
      }
      
      var youtube_api_init = 1;
    
    <% end %>
    
  </script>
<% end %>
<div class="container">
  <div class="wizzard-row">
    <% @unit.pages.order(:sequence).each do |page| %>
      <div class="column <%= page.id == @page.id ? "active": (!page.answers.where(:user_id => current_user.id).empty? ? "viewed" : "") %>" 
           title="<%= page.title %>">
        <%= link_to '',course_unit_page_path(@course,@unit,page) if !page.answers.where(:user_id => current_user.id).empty? %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h3 class="video-title"><%= @page.title %></h3>
    <% if @page.page_type == 'video' %>
      <div class="outer-container">
        <div class="inner-container text-center">
          <div class="video-overlay" style="display: none;">
            <%= link_to 'Continuar', course_unit_page_path(@course,@unit,@next_page),:class => "btn btn-lg btn-primary" %>
            <br><br>
            <a href="#" class="rewind-video">
              <i class="fa fa-undo fa-2x"></i> Ver de nuevo
            </a>
          </div>
          <div id="video-content"></div>
        </div>
      </div>
    <% end %>
    <% if @page.page_type == 'editor' %>
      <div class="container">
        <div class="instructions row">
        </div>
        <div class="row">
            <div class="col-sm-6" style="padding-left:0px;">
              <h3>Editor</h3>
              <textarea id="solution" style="display:none"><%= @page.solution%></textarea>
              <textarea id="initial_state" style="display:none"><%= @page.initial_state %></textarea>
              <textarea id="code" name="code" placeholder="Tu código va aquí..."><%= !@page.answers.where(:user_id => current_user.id).empty? && !@page.answers.where(:user_id => current_user.id).first.result.blank? ? @page.answers.where(:user_id => current_user.id).first.result : @page.initial_state  %></textarea>
            </div>
            <div class="col-sm-6" style="padding-right:0px;">
              <h3>Navegador</h3>
              <iframe id="preview" class="preview"></iframe>
            </div>
        </div>
        <div class="row">
          <div class="pull-right">
            <a href="#" class="check-video-again btn btn-primary">Volver al video</a>
            <a href="#" class="start-over btn btn-primary">Empezar de nuevo</a>
            <a href="#" class="save btn btn-primary">Guardar y Continuar</a>
          </div>
        </div>
      </div>    
    <% end %>
    <% if @page.page_type == 'questions' %>
      <div class="container">
        <div class="questions-slider row">
          <% if @page.getCurrentQuestionGroupId(current_user) != "MAX" %>
          <div class="question-span">
            <h3>Pregunta <span id="sequence"><%= @page.getCurrentSequence(current_user) %></span> de <%= @page.question_groups.size %></h3>
            <% @page.question_groups.order(:sequence).each do |question_group| %>
              <div class="question" 
                   style="<%= @page.getCurrentQuestionGroupId(current_user).to_i == question_group.id ? "" : "display:none;" %>"
                   data-question-id="<%= question_group.id %>">
                <h3><%= question_group.question.description %></h3>
                <ul style="margin-bottom: 30px;">
                  <% question_group.question.options.each do |option| %>
                    <li>
                      <table>
                        <tr>
                          <td style="width:2%;padding-right:10px;">
                            <input type="radio" 
                                   id="q-<%=option.id %>" 
                                   name="question-option" 
                                   value="<%= option.id %>" 
                                   data-question-id="<%= question_group.id %>">
                          </td>
                          <td><label for="q-<%=option.id %>" style="cursor:pointer;font-weight:300;"><%= option.description %></label></td>
                        </tr>
                      </table>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>  
            <a href="#" class="btn btn-primary next-step">Guardar y Continuar</a>
          </div>
          <% end %>
          <div class="question-finished" style="<%= @page.getCurrentQuestionGroupId(current_user) != "MAX" ? "display:none;" : "" %>">
            <h2>Gracias por responder las preguntas</h2>
            <p>Los cuestionarios sólo se pueden responder una vez</p>
            <a href="#" class="btn btn-primary next-step-finished">Continuar</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if @page.page_type == 'closer' %>
      <div class="container">
        <div class="row">
          <%= raw @page.html %>
        </div>
      </div>
    <% end %>
  </div>
</div>