<div class="page pb-0">
  <%= render 'pages/show/navigation' %>
  <div class="content">
    <% if @page.show_title %>
      <h3 class="page-title text-center"><%= @page.title %></h3>
      <div class="breakline"></div>
    <% end %>
    <%= render 'pages/show/material' if @page.page_type == 'material' %>
    <%= render 'pages/show/html' if @page.page_type == 'prework' %>
    <%= render 'pages/show/quiz' if @page.page_type == 'quiz' %>
    <%= render 'pages/show/editor' if @page.page_type == 'editor' %>
    <%= render 'pages/show/questions' if @page.page_type == 'questions' %>
    <%= render 'pages/show/exercise' if @page.page_type == 'exercise' %>
    <%= render 'pages/show/solution' if @page.page_type == 'solution' %>
  </div>
</div>
