
<% content_for :scripts do %>
<script type="text/javascript">
  $('.arrows-xs').on("click", function() {
    $('.arrow-down').toggleClass('arrow-show');
    $('.arrow-up').toggleClass('arrow-show');
  })
</script>
<% end %>

<section id="coder-profile">
  <div class="container pv-35-md pv-7-sm ph-7 pb-21-xs pt-35-xs">
    <div class="row m-0">
      <div class="col-sm-4 col-xs-12 flex-center-row photo-profile pl-21-xs mv-14-xs">
        <%= render 'shared/students/header/profile' %>
      </div>
      <div class="col-sm-5 col-xs-12 mt-42-md mt-35-sm hidden-xs">
        <%= render 'shared/students/header/badges' %>
        <%= render 'shared/students/header/skills' %>
      </div>
      <div class="col-sm-3 col-xs-12 hidden-xs">
        <div class="grades-summary">
          <%= render 'shared/students/header/tecnico' %>
          <%= render 'shared/students/header/hse' %>
        </div>
      </div>
      <div class="hidden-lg hidden-sm hidden-md text-center">
        <div class="">
          <div class="col-sm-2 col-xs-6 mt-21 mb-0 mt-7-xs">
            <%= render 'shared/students/header/tecnico' %>
          </div>
          <div class="col-sm-2 col-xs-6 mt-21 mb-0 mt-7-xs">
            <%= render 'shared/students/header/hse' %>
          </div>
          <div class="col-sm-5 col-xs-12 mt-42 mt-14-xs">
            <%= render 'shared/students/header/badges' %>
            <%= render 'shared/students/header/skills' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% if bar %>
  <section id="menu-tabs">
    <div class="container-sm text-center">
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <a href="#" class="fs-14 inline-block pv-21">home</a>
        </div>
        <div class="col-md-2">
          <a href="#" class="fs-14 inline-block pv-21">desempeño</a>
        </div>
        <div class="col-md-2 active">
          <a href="#" class="fs-14 inline-block pv-21">tracks</a>
        </div>
        <div class="col-md-2">
          <a href="#" class="fs-14 inline-block pv-21">badges & skills</a>
        </div>
        <div class="col-md-2">
          <a href="#" class="fs-14 inline-block pv-21">recursos</a>
        </div>
      </div>
    </div>
  </section>
<% end %>
