<div class="row">
  <div class="col-sm-4">
    <div class="inhabilitado">
      <%= image_tag @user.avatar.url(:menu),
      alt: "coder", class: "img-circle img-responsive", width: "130" %>
    </div>
  </div>
  <div class="col-sm-7">
    <h3 class="mv-7 light name">
      <%= @user.full_name %>
    </h3>
    <p><%= age(@user.profile.birth_date) if @user.profile.birth_date %></p>
    <p class="light lh-profile description">
      <%= @user.branch.name %>
    </p>
    <p class="mb-0 lh-profile codigo">
      <%= @user.code %>
    </p>
  </div>
</div>
