<div class="row">
  <div class="col-sm-5 col-xs-4">
    <div class="inhabilitado">
      <%= image_tag @user.avatar.url(:student_dashboard),
      alt: "coder", class: "img-circle img-responsive border-good" %>
    </div>
  </div>
  <div class="col-sm-7 col-xs-8 pl-7">
    <h3 class="mv-0 book name">
      <%= @user.full_name %>
    </h3>
    <p><%= age(@user.profile.birth_date) if @user.profile.birth_date %></p>
    <p class="light lh-profile description">
      <%= @user.branch.name %>
    </p>
    <p class="mb-0 lh-profile codigo">
      <%= @user.code %>
    </p>
  </div>
</div>
