<div class="row">
  <div class="col-sm-5 col-xs-4">
    <%= image_tag @user.avatar.url(:student_dashboard),
    alt: "coder", class: "img-circle img-responsive student-status-good" %>
  </div>
  <div class="col-sm-7 col-xs-8 pl-7">
    <h3 class="mv-0 book name">
      <%= @user.full_name %>
    </h3>
    <p><%= age(@user.profile.birth_date) if @user.profile.birth_date %></p>
    <p class="mb-0 lh-profile codigo">
      <%= @user.code %>
    </p>
    <p class="light lh-profile description mt-7">
      <%= @user.branch.name %>
    </p>
    <%= link_to @user.profile.github, :target => '_blank'  do %>
      <!-- <%= image_tag 'github.svg', :class => 'mr-14' %> -->
      <div class="github">
      </div>
    <%end%>
    <%= link_to @user.profile.linkedin, :target => '_blank'  do %>
      <!-- <%= image_tag 'linked.svg', :class => 'mr-14' %> -->
      <div class="linkedin">

      </div>
    <%end%>
    <%= link_to @user.profile.portafolio, :target => '_blank'  do %>
      <!-- <%= image_tag 'portafolio.svg', :class => 'mr-14' %> -->
      <div class="portafolio">

      </div>
    <%end%>
  </div>
</div>
