<%= simple_nested_form_for [:admin,@question] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <div id="options_field" class="options_field">
      <h3 style="margin-bottom:20px">Opciones (<%= f.link_to_add "Añadir opción", :options, :data => { :target => "#options_field" } %>)</h3>
      <table id="options_field" style="width:60%">
        <%= f.fields_for :options, :wrapper => false do |o| %>
          <tr class="fields">
              <td style="width: 2%;"><%= o.input :correct,label: false, as: :boolean %></td>
              <td style="width: 60%;"><%= o.input :description, required: false, label:false, placeholder: "Opción de pregunta"  %></td>
              <td><%= o.link_to_remove "Eliminar" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to "Cancelar", admin_questions_path, :class => "btn btn-danger" %>
  </div>
  <br>
<% end %>
