<div class="container-fluid p-20">
  <div class="page-header clearfix">
      <h1 class="pull-left">Banco de Preguntas</h1>
      <div class="pull-right">
        <%= link_to 'Crear Nueva Pregunta', new_admin_question_path, :class => "btn btn-primary btn-new" %>
      </div>
    </div>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Unidad</th>
          <th>Página asociada</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td>
              <% question.question_groups.each do |qg| %>
                <div><%= qg.page.unit.course.name %></div>
              <% end %>
            </td>
            <td>
              <% question.question_groups.each do |qg| %>
                <div><%= qg.page.unit.title %></div>
              <% end %>
            </td>
            <td>
              <% question.question_groups.each do |qg| %>
                <div><%= qg.page.title %></div>
              <% end %>
            </td>
            <td><%= question.description %></td>
            <td>
              <%= link_to 'Editar', edit_admin_question_path(question) %>  |
              <%= link_to 'Eliminar', [:admin,question], method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
