<%= simple_nested_form_for([@track,@course,@unit,@lesson]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :unit %>
    <%= f.input :sequence %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancelar',  [@track,@course,@unit], :class => "btn btn-danger" %>
  </div>
<% end %>
