<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Lecciones</h1>
      <div class="pull-right">
        <%= link_to 'Crear Lección', new_course_unit_lesson_path(@course,@unit), :class => "btn btn-primary btn-new" %>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Unidad</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.sequence %></td>
            <td><%= lesson.title %></td>
            <td><%= lesson.unit.title %></td>
            <td><%= lesson.unit.course.name %></td>
            <td>
              <%= link_to 'Ver Lección', course_unit_lesson_path(@course,@unit,lesson) %>  |
              <%= link_to 'Editar', edit_course_unit_lesson_path(@course,@unit,lesson) %>  |
              <%= link_to 'Eliminar', [@course,@unit,lesson], method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
