<div class="container-fluid p-20">
    <div class="breadcrumb">
      <%= link_to @course.name, course_path(@course) %> / <%= link_to @unit.title, course_unit_path(@course,@unit) %> /
      <span><%= @lesson.title %></span>
    </div>
    <div class="page-header clearfix">
      <h1 class="pull-left">Detalle de la lección</h1>
      <div class="pull-right">
        <%= link_to 'Editar', edit_course_unit_lesson_path(@course,@unit, @lesson), :class => "btn btn-primary" %>
      </div>
    </div>
    <div>
      <p>
        <strong>Sequence:</strong>
        <%= @lesson.sequence %>
      </p>  
      <p>
        <strong>Title:</strong>
        <%= @lesson.title %>
      </p>
    </div>
    <br><br>
    <div>
      <%= link_to "Nueva Página", new_course_unit_lesson_page_path(@course,@unit,@lesson), :class => "btn btn-primary" %>
    </div>
    <br><br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Lección</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @lesson.pages.order(:sequence).each do |page| %>
          <tr>
            <td><%= page.sequence %></td>
            <td><%= page.title %></td>
            <td><%= page.lesson.title %></td>
            <td>
              <%= link_to 'Ver página', course_unit_lesson_page_path(@course,@unit,@lesson,page) %>  |  
              <%= link_to 'Editar', edit_course_unit_lesson_page_path(@course,@unit,@lesson,page) %>  |  
              <%= link_to 'Eliminar', [@course,@unit,@lesson,page], method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>