<%= simple_form_for([:admin,@soft_skill]) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-default">
    <div class="panel-heading">Información general</div>
    <div class="panel-body">
      <%= f.input :stype, label: false, :include_blank => "Elige el tipo de soft skill", collection: SoftSkill.stypes.keys, label_method: lambda {|k| k.capitalize} %>
    	<%= f.input :name, label: false, placeholder: "Ingresa el nombre del skill" %>
      <%= f.input :description, label: false, placeholder: "Ingresa una descripción de tu soft kill" %>
    	<div class="row">
        <div class="col-sm-2">
          <%= f.input :max_points,label: false, placeholder: "Puntaje total", input_html: { min: '0', step: 'any' } %>
        </div>
      </div>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', admin_soft_skills_path, class: 'btn btn-danger' %>
  </div>
<% end %>
