<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Detalles del Skill</h1>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading">Información general</div>
		<div class="panel-body">
			<p>
			  <strong>Name:</strong>
			  <%= @soft_skill.name %>
			</p>

			<p>
			  <strong>Max points:</strong>
			  <%= @soft_skill.max_points %>
			</p>
      <p>
        <strong>Descripción:</strong>
        <%= @soft_skill.description %>
      </p>
		</div>
	</div>
	<div class="form-actions">
		<%= link_to 'Editar', edit_admin_soft_skill_path(@soft_skill), class: "btn btn-primary" %>
		<%= link_to 'Atrás', admin_soft_skills_path, class:"btn btn-danger" %>
	</div>
</div>
