<div class="navigation">
  <ul>
      <li>
        <%= link_to teacher_dashboard_class_stats_path do %>
          <i class="fa fa-tachometer"></i>Class stats
        <% end %>
      </li>
      <li>
        <%= link_to teacher_dashboard_students_path do %>
          <i class="fa fa-book"></i>Students
        <% end %>
      </li>
			<li>
				<%= link_to teacher_dashboard_teacher_stats_path do %>
					<i class="fa fa-tasks"></i>Teacher stats
				<% end %>
			</li>
      <li>
        <%= link_to teacher_dashboard_grades_path do %>
          <i class="fa fa-certificate"></i>Grades
        <% end %>
      </li>
      <li>
        <%= link_to teacher_dashboard_assistance_path do %>
          <i class="fa fa-heart"></i>Assistance
        <% end %>
      </li>
      <li>
        <%= link_to teacher_dashboard_sprints_path do %>
          <i class="fa fa-envelope"></i>Sprints
        <% end %>
      </li>
      <li>
        <%= link_to teacher_dashboard_recomendations_path do %>
          <i class="fa fa-binoculars"></i>Recomndations
        <% end %>
      </li>
  </ul>
</div>
