<%= simple_form_for [@track,@course] do |f| %>
  <div class="form-inputs">
    <%= f.input :name, :class => "short" %><br>
    <%= f.input :description %>
  </div><br>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', track_courses_path, :class => 'btn btn-danger' %>    
  </div>
<% end %>
