<%= simple_form_for @course do |f| %>
  <div class="form-inputs">
    <%= f.input :code %><br>
    <%= f.input :name, :class => "short" %><br>
    <%= f.input :description %><br>
    <%= f.input :color %><br>
    <%= f.input :avatar %><br>
    <%= f.input :background_image %>
  </div><br>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', courses_path, :class => 'btn btn-danger' %>    
  </div>
<% end %>
