<section class="bg-tracks bg-gray-dark">
  <div class="text-left text-white">
    <div class="container-md">
      <p class="small pb-0 mb-0 pt-35">CURSO INTENSIVO DE 27 SEMANAS</p>
  		<h1 class="thin fz-44 mb-0">Desarrollo Web Front-End</h1>
  		<%= image_tag "linea-amarilla.png",alt: "Línea divisora", class: "ho" %>
  		<p class="light pt-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis a quam earum.</p>
  		<%= link_to  do %>
        <%= image_tag "bullet-down.png",alt: "Laboratoria código que transforma", class: "ho" %>
        <span class="thin">Syllabus</span>
      <% end %>
    </div>
  </div>
</section>
<section class="pt-35 pb-56">
  <div class="container-md">
    <h3 class="thin fz-xs lh-sub thin h2">plan de estudios</h3>
    <div class="hidden-xs mb-7 separator separator-primary separator-left separator-sm"></div>
    <div class="row mt-42">
      <% @courses.each do |course| %>
        <% if course.has_pages(current_user.branch_id) %>
          <div class="col-md-4">
            <div class="grid-cursos text-center">
              <div class="bg-gray-dark header-grid p-21 light">
                <small class="text-primary lh-xs">Unidad 1</small>
                <h5 class="text-uppercase mv-7 text-white light lh-course">
                  <%= link_to course_details_path(course) do %>
                    <%= course.name %>
                  <% end %>
                </h5>
                <div class="hidden-xs mb-7 separator separator-primary separator-centered"></div>
              </div>
              <div class="content-cursos p-14">
                <p class=""><%= course.description %></p>
              </div>
              <h5 class="text-primary medium mv-14">6 Semanas</h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<section id="equipo" class="bg-gray-lighter pt-35 pb-56">
  <div class="container-md">
    <h3 class="thin fz-xs lh-sub thin h2">equipo docente</h3>
    <div class="hidden-xs mb-7 separator separator-primary separator-left separator-sm"></div>
    <div class="row mt-42">
      <div class="col-md-4">
        <div class="content-equipo text-center">
          <div class="bg-img-block text-center">
            <%= image_tag "gian.jpg",alt: "Laboratoria código que transforma", width: "200" %>
          </div>
          <h4 class="light text-center mt-21 mb-0">Gian Corzo</h4>
          <p class="thin color-gray mv-7 lh-xs">
						Full Stack Developer
					</p>
					<p class="thin text-primary fz-14 lh-xs">
					  <%= link_to  do %>
					  gian@laboratoria.la
					  <% end %>
					</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="bg-img-block text-center">
          <%= image_tag "eli.jpg",alt: "Laboratoria código que transforma", width: "200" %>
        </div>
        <h4 class="light text-center mt-21 mb-0">Elizabeth Portilla</h4>
         <p class="thin color-gray mv-7 lh-xs">
						Full Stack Developer
					</p>
					<p class="thin text-primary fz-14 lh-xs">
					  <%= link_to  do %>
					  elizabeth@laboratoria.la
					  <% end %>
					</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="bg-img-block text-center">
          <%= image_tag "ivan.jpg",alt: "Laboratoria código que transforma", width: "200" %>
        </div>
        <h4 class="light text-center mt-21 mb-0">Ivan Medina</h4>
         <p class="thin color-gray mv-7 lh-xs">
						Back End Developer
					</p>
					<p class="thin text-primary fz-14 lh-xs">
					  <%= link_to  do %>
					  ivan@laboratoria.la
					  <% end %>
					</p>
      </div>
    </div>
  </div>
</section>
