<div class="course-header clearfix" 
     style="<%= "background-color: #{@course.color}" %>">
    <div class="content container">
        <div class="row">
          <p>
            <%= link_to course_list_path do %>
              <i class="fa fa-play fa-rotate-180"></i>Volver a la lista de cursos
            <% end %>
          </p>
          <h1><%= @course.name %></h1>
          <h4><%= @course.description %></h4>
        </div>
    </div>
</div>
<div class="container units-container">
  <div class="row">
    <div class="col-xs-12">
      <p>TODO EL CONTENIDO EN "<%= @course.name %>"</p>
      <hr>
      <div class="units">
        <% @course.units.order(:sequence).each_with_index do |unit,index| %>
          <% if unit.has_pages(current_user.branch_id) %>
            <div class="row unit">
            <div class="col-sm-3">
              <div class="overview">
                <h2><%= unit.title %></h2>
                <p><%= unit.description %></p>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="content-box clearfix">
                <ol>
                  <% unit.lessons.order(:sequence).each do |lesson| %>
                    <li class="progress-item">
                      <%= link_to mycourse_unit_lesson_page_path(@course,unit,lesson.id, lesson.pages.first.id), 
                          :class => "viewed" do %>
                          <i class="fa fa-square-o"></i>
                          <span><%= lesson.title %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>