<div class="course-header clearfix" style="background: <%= @course.color %> url('<%= @course.background_image.url(:big) %>')">
    <div class="content container">
        <div class="row">
            <div class="col-xs-2">
                <%= image_tag @course.avatar.url(:medium) %>
            </div>
            <div class="col-xs-10">
                <h1><%= @course.name %></h1>
            </div>            
        </div>
    </div>
</div>
<div class="container">
  <div class="row unidades">
    <div class="col-xs-12">
      <h3>Descripción del curso</h3>
      <p><%= @course.description %></p>
      <h3>Contenido del curso</h3>
      <div class="units">
        <ol>
        <% @course.units.each_with_index do |unit,index| %>
        <li class="list-item">
          <div class="bucket">
            <h3>
              <b>Unit <%= index + 1 %> | <%= unit.pages.count %> retos</b>
              <%= link_to unit.title, course_unit_page_path(@course,unit,1)  %>
            </h3>
            <p><%= unit.description %></p>
          </div>
        </li>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>