<div class="container-fluid p-20">
  <div class="breadcrumb">
    <%= link_to "Volver a la lista", courses_path %> / 
    <span><%= @course.name %></span>
  </div>  
  <div class="page-header clearfix">
    <h1>Detalle del curso</h1>
  </div>
  <div>
    <p>
      <strong>Code:</strong>
      <%= @course.code %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @course.name %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @course.description %>
    </p>
    <p>
      <strong>Color:</strong>
      <%= @course.color %>
    </p>
  </div>    
  <br><br>
    <div>
      <%= link_to "Nueva unidad", new_course_unit_path(@course), :class => "btn btn-primary" %>
    </div>
    <br><br>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @course.units.each do |unit| %>
        <tr>
          <td><%= unit.sequence %></td>
          <td><%= link_to unit.title, course_unit_path(@course,unit)  %></td>
          <td><%= unit.description %></td>
          <td> 
            <%= link_to 'Editar', edit_course_unit_path(@course,unit) %>  |  
            <%= link_to 'Eliminar', [@course,unit], method: :delete, data: { confirm: '¿Está seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>