<div class="course-header clearfix bg-gray-dark">
    <div class="content container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 pr-49">
            <h1 class="light text-uppercase"><%= @course.name %></h1>
            <p class="thin lh-md mb-42-md fz-21"><%= @course.description %></p>
            <% if @course.course_plan %>
              <a href="<%= @course.course_plan %>" target="_blank" class="text-white ml-7">
                <i class="fa fa-chevron-right text-primary" aria-hidden="true"></i>
                <span class="thin">Course Plan</span>
              </a>
            <% end %>
          </div>
          <div class="col-md-5 pl-49 hidden">
            <h4 class="ligth">LECCIONES COMPLETADAS</h4>
            <div class="progress progress-details">
              <div class="progress-bar progress-bar-details" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>
<div class="container units-container">
  <div class="row">
    <div class="col-xs-10 col-md-offset-1">
      <h2 class="lh-21 light text-left mt-42 mb-0">contenido</h2>
      <div class="separator separator-sm separator-primary separator-left mb-28"></div>
      
      <div class="units">
        <% @course.units.order(:sequence).each_with_index do |unit,index| %>
          <% if unit.has_pages(current_user.branch_id) %>
            <div class="row unit">
            <div class="col-sm-6 pr-49">
              <div class="overview">
                <small class="thin">Semana <%= week_couting(@week_start,unit.duration) %></small>
                <% @week_start += unit.duration %>
                <h2><%= unit.title %></h2>
                <p><%= unit.description %></p>
              </div>
            </div>
            <div class="col-sm-6 pl-49">
              <div class="content-box clearfix">
                <ol>
                  <% unit.lessons.order(:sequence).each do |lesson| %>
                    <li class="progress-item">
                        <%= link_to lesson_page_details_path(@track,@course,unit,lesson.id, lesson.pages.order(:sequence).first.id),
                            :class => "viewed" do %>
                          <span><%= lesson.title %></span>
                          <span>(<%= lesson.total_points %> pts)</span>
                        <% end %>
                    </li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>