<div class="container-fluid p-20">
  <div class="breadcrumb">
    <%= link_to "Volver al track", track_path(@track) %> / 
    <span><%= @course.name %></span>
  </div>  
  <div class="page-header clearfix">
    <h1>Detalle del curso</h1>
  </div>
  <div>
    <p>
      <strong>Nombre:</strong>
      <%= @course.name %>
    </p>
    
    <p>
      <strong>Descripción:</strong>
      <%= @course.description %>
    </p>
    <p>
      <strong>Duración:</strong>
      <%= @course.duration %>
    </p>
  </div>    
  <br><br>
    <div>
      <%= link_to "Nueva unidad", new_track_course_unit_path(@track,@course), :class => "btn btn-primary" %>
    </div>
    <br><br>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Unidad</th>
        <th>Descripión</th>
        <th>Duración</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @course.units.order(:sequence).each do |unit| %>
        <tr>
          <td><%= unit.sequence %></td>
          <td><%= link_to unit.title, track_course_unit_path(@track,@course,unit)  %></td>
          <td><%= unit.description %></td>
          <td><%= unit.duration %></td>
          <td> 
            <%= link_to 'Editar', edit_track_course_unit_path(@track,@course,unit) %>  |  
            <%= link_to 'Eliminar', [@track,@course,unit], method: :delete, data: { confirm: '¿Está seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>