<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Unidades</h1>  
      <div class="pull-right">
        <%= link_to 'Crear Unidad', new_track_course_unit_path(@track,@course), :class => "btn btn-primary btn-new" %>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Course</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @units.each do |unit| %>
          <tr>
            <td><%= unit.sequence %></td>
            <td><%= unit.title %></td>
            <td><%= unit.description %></td>
            <td><%= unit.course.name %></td>
            <td>
              <%= link_to 'Ver Unidad', track_course_unit_path(@track,@course,unit) %>  |  
              <%= link_to 'Editar', edit_track_course_unit_path(@track,@course,unit) %>  |  
              <%= link_to 'Eliminar', [@track,@course,unit], method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>