<div class="container-fluid p-20">
    <div class="breadcrumb">
      <%= link_to @course.name, track_course_path(@track,@course) %> / 
      <span><%= @unit.title %></span>
    </div>
    <div class="page-header clearfix">
      <h1 class="pull-left">Detalle de la unidad</h1>
      <div class="pull-right">
        <%= link_to 'Editar', edit_track_course_unit_path(@track,@course,@unit), :class => "btn btn-primary" %>
      </div>
    </div>
    <div>
      <p>
        <strong>Sequence:</strong>
        <%= @unit.sequence %>
      </p>  
      <p>
        <strong>Title:</strong>
        <%= @unit.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @unit.description %>
      </p>
      <p>
        <strong>Duración:</strong>
        <%= @unit.duration %>
      </p>
    </div>
    <br><br>
    <div>
      <%= link_to "Nueva Lección", new_track_course_unit_lesson_path(@track,@course,@unit), :class => "btn btn-primary" %>
    </div>
    <br><br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Unidad</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @unit.lessons.order(:sequence).each do |lesson| %>
          <tr>
            <td><%= lesson.sequence %></td>
            <td><%= link_to lesson.title, track_course_unit_lesson_path(@track,@course,@unit,lesson) %></td>
            <td><%= lesson.unit.title %></td>
            <td>
              <%= link_to 'Editar', edit_track_course_unit_lesson_path(@track,@course,@unit,lesson) %>  |  
              <%= link_to 'Eliminar', [@track,@course,@unit,lesson], method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>