<div class="container-fluid p-20">
    <div class="page-header clearfix">
      <h1 class="pull-left">Detalles del sprint</h1>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">Información general</div>
    <div class="panel-body">
      <p>
        <strong>Nombre:</strong>
        <%= @sprint.name %>
      </p>

      <p>
        <strong>Descripción:</strong>
        <%= @sprint.description %>
      </p>
      <p>
        <strong>Grupo:</strong>
        <%= @sprint.group.name %>
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Lecciones</div>
    <div class="panel-body">
      <% if @lessons.each_with_index do |lesson, index| %>
        <% if index % 3 == 0 %>
          <div class="clearfix visible-sm visible-md visible-lg"></div>
        <% end %>

        <div class="col-sm-4">
          <p> <%= lesson.title %></p>
        </div>
      <% end.empty? %>
        <p> No hay lecciones asociadas a este sprint </p>
      <% end %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">HSE</div>
    <div class="panel-body">
      <% if @soft_skills.each do |group| %>
        <div class="col-sm-3">
          <h4><%= group[0].capitalize %></h4>
          <% group[1].each do |soft_skill| %>
          <p><%= soft_skill.name %></p>
          <% end %>
        </div>
      <% end.empty? %>
        <p>No hay soft skills asociados a este sprint</p>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Badges disponibles en este sprint</div>
    <div class="panel-body">
      <% if @sprint.badges.each do |badge| %>
        <%= image_tag badge.image.url(:normal) %>
      <% end.empty? %>
        <p> No hay badges asociados a este sprint </p>
      <% end %>

    </div>
  </div>


  <div class="form-actions">
    <%= link_to 'Editar', edit_sprint_path(@sprint), class: 'btn btn-primary' %>
    <%= link_to 'Atrás', sprints_path, class: 'btn btn-danger' %>
  </div>
