<div class="container-fluid p-20">
    <div class="page-header clearfix">
        <h2 class="pull-left"><%= @user.full_name %> <small>(<%= @user.role %>)</small></h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Información básica
      </div>
      <div class="panel-body">
        <p>
          <strong>Código:</strong>
          <%= @user.code %>
        </p>
        <p>
          <strong>Sede / Grupo:</strong>
          <%= @user.branch.name %> / <%= @user.group.name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Imágen del usuario
      </div>
      <div class="panel-body">
        <%= image_tag @user.avatar.url(:menu), width: 70 %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Información complementaria
      </div>
      <div class="panel-body">
        <p>
          <strong>Biografía:</strong>
          <%= @user.profile.biography %>
        </p>
        <p>
          <strong>Dni:</strong>
          <%= @user.profile.dni %>
        </p>
        <p>
          <strong>Distrito:</strong>
          <%= !@user.profile.district.nil? ? @user.profile.district.name : "" %>
        </p>
        <p>
          <strong>Facebook:</strong>
          <%= @user.profile.facebook_link %>
        </p>
        <p>
          <strong>Teléfonos:</strong>
          <%= "#{@user.profile.phone1} / #{@user.profile.phone2}"  %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Badges del usuario
      </div>
      <div class="panel-body">

        <% if @user.sprint_badges != nil %>
          <% @user.sprint_badges.group_by(&:sprint).each do |sprint,sprint_badges| %>
            <h5><%= "#{sprint.name} - #{sprint.description}" %></h5>
            <% sprint_badges.each do |sprint_badge| %>
              <%= image_tag sprint_badge.badge.image.url(:normal) %>
            <% end %>
          <% end %>
        <% else %>
          <p>El usuario no tiene ningún badge asignado</p>
        <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to "Editar", edit_admin_user_path(@user), :class => "btn btn-primary" %>
      <%= link_to 'Regresar', admin_users_path, :class => "btn btn-danger" %>
    </div>
</div>
