<div id="user-left-box" class="clearfix hidden-sm hidden-xs">
	<%= image_tag current_user.avatar.url(:menu) %>
	<div class="user-box">
		<span class="name"><%= current_user.full_name %></span>
		<span class="roles"><%= current_user.role.capitalize %></span>
	</div>
</div>
<div class="navigation">
  <ul>
      <li>
        <%= link_to admin_dashboard_path do %>
          <i class="fa fa-tachometer"></i>Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to admin_tracks_path do %>
          <i class="fa fa-book"></i>Tracks
        <% end %>
      </li>
			<li>
				<%= link_to admin_sprints_path do %>
					<i class="fa fa-tasks"></i>Sprints
				<% end %>
			</li>
      <li>
        <%= link_to admin_badges_path do %>
          <i class="fa fa-certificate"></i>Badges
        <% end %>
      </li>
      <li>
        <%= link_to admin_soft_skills_path do %>
          <i class="fa fa-heart"></i>Soft skills
        <% end %>
      </li>
      <li>
        <%= link_to admin_page_visibility_path do %>
          <i class="fa fa-binoculars"></i>Visibilidad de páginas
        <% end %>
      </li>
      <li>
        <%= link_to admin_reviews_path do %>
          <i class="fa fa-sticky-note"></i>Reviews
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %>
        <i class="fa fa-user"></i>Usuarios
        <% end %>
      </li>
  </ul>
</div>
