<div class="container-fluid p-20">
  <div class="page-header clearfix">
      <h1 class="pull-left">Reviews</h1>
      <div class="pull-right">
        <%= link_to 'Crear un nuevo review', new_review_path, :class => "btn btn-primary btn-new" %>
      </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Coder</th>
        <th>Reviewer</th>
        <th>Question</th>
        <th>Answer</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.user.name %></td>
          <td><%= review.reviewer.name %></td>
          <td><%= review.question.description %></td>
          <td><%= review.answer %></td>
          <td>
            <%= link_to 'Editar', edit_review_path(review) %>
            <%= link_to 'Eliminar', review, method: :delete, data: { confirm: '¿Estás seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
