<%= render 'shared/students/header/frame', :bar => false %>
<section id="tech-skills">
  <div class="container">
    <h2>TECH SKILLS</h2>
    <div class="row">
      <div class="col-sm-3">
        <p>Estas son las capacidades logradas por coders en tan solo 6 meses</p>
      </div>
      <div class="col-sm-9">
        <h3>TOTAL TECH SKILLS</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= "#{ percentage(@student_technical_points) }%" %>"
          aria-valuemin="0" aria-valuemax="100" style="width:<%= "#{ percentage(@student_technical_points) }" %>%">
            <%= "#{ percentage(@student_technical_points) }%" %>
          </div>
          <div class="avg">
            <%= "avg#{percentage({points:@avg_students_points,max:@maximum_points)}%" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
