<div class="container-md pv-56 pt-14-xs">
  <h3 class="light mb-7 text-center">actitud profesional</h3>
  <div class="row mt-49">
    <% @soft_skills_points.each_with_index do |skill_points, index| %>
      <div class="col-md-2 col-xs-6 col-sm-4 <%= "col-md-offset-2" if index == 0 %>">
        <% points = percent(skill_points[:points], skill_points[:max_points]).round %>
          <div class="c100 center <%= "p#{points}" %> small gray">
            <span> <%= points %>% </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="page-type mt-14"> <%= SoftSkill.stypes.key(skill_points[:stype]) %> </div>
          <div class="page-type"><%=  skill_points[:points] %> / <%= skill_points[:max_points] %></div>
      </div>
    <% end %>
  </div>
</div>
