<div class="container-md pv-56 puntos border-bottom-gray">
  <h4 class="bold mb-7 text-center">puntos</h4>
  <div class="hidden-xs mb-7 separator separator-primary separator-centered"></div>
  <div class="light text-center mt-35 font-big">
    este es el detalle de tu avance hasta ahora en el
      <span class="dropdown header-arrow">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="text-uppercase bold">
              <%= @sprint.name %>
            </span>
            <%= image_tag "arrow-up.png",alt: "Arrow up", class: "minh-icon-arrow arrow up hide", data: { el: "down" } %>
            <%= image_tag "arrow-down.png",alt: "Arrow down", class: "minh-icon-arrow arrow down", data: { el: "up" } %>
          </a>
          <ul class="dropdown-menu">
            <% @sprints.each_with_index do |sprint| %>
              <li> <%= link_to sprint.name, '#', class: 'text-uppercase' %> </li>
            <% end %>
          </ul>
      </span>
  </div>
  <div class="row pt-21">
    <div class="col-md-6">
      <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6 pv-49 ph-35">
      <div class="row pl-70-md">
        <div class="col-sm-12">
          <div class="c100 p80 big orange">
            <span>
              <%= ((@max_student_points / @max_total_points.to_f) * 100 ).round(1) %>
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-3 text-center">
          <p>
            <span class="book"><%= @max_student_points %>/</span>
            <span class="thin h4"><%= @max_total_points %></span>
          </p>
          <h4 class="light">puntos</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>
    $(function () {
      $('#container').highcharts({
        chart: {
          plotBackgroundColor: "#fcfcfc",
          plotBorderWidth: 0,
          plotShadow: false,
          backgroundColor: "#fcfcfc",
        },
        title: {
          text: '<div style="color:#444;font-size:24px"><%= @max_student_points %></div>puntos',
          align: 'center',
          verticalAlign: 'middle',
          useHTML: true,
          y: 10,
          style: {
            color: '#888',
            textAlign: 'center',
            fontSize: '20px'
          }
        },
        credits: {
          enabled: false
       },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.student_marks}/{point.y}</b>'
        },
        plotOptions: {
          pie: {
            dataLabels: {
              enabled: true,
              distance: 25,
              style: {
                color: '#999',
                textShadow: 0
              }
            },
            center: ['50%', '55%']
          }
        },
        series: [{
          type: 'pie',
          name: "Quizzes",
          innerSize: '60%',
          data: <%= raw @data.to_json %>,
          color: '#222',
          animation: {
            duration: 1500,
            easing: 'easeOutBounce'
          }
        }]
      });

      var chart = $('#container').highcharts();
      var colors = ['#66B26D', '#4790C8', '#E2BA39',
                    '#D2813A', '#CD5C48', '#795299',
                    '#AC4937','#E09A37', '#BE5E29'
                  ];
      var i = 0;
      chart.series[0].data.forEach(function(data){
        data.update({color: colors[i]});
        i++;
      });
    });
  </script>
<% end %>
