<%= @user.inspect %>
<section>
  <div class="container-md pv-56">
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @user.avatar.url(:thumb), alt: "coder", class: "img-circle img-responsive", width: "130" %>
          </div>
          <div class="col-sm-7">
            <h3 class="mv-7">
              <%= @user.full_name %>
            </h3>
            <p class="light mb-0 lh-profile">
              <%= age @user %>
            </p>
            <p class="light lh-profile ">
              <%= district @user %>
            </p>
            <p class="thin text-gray-light mb-0 lh-profile">Front-End Developer</p>
          </div>
        </div>
        <div class="mt-56 pr-42-md">
          <h4 class="bold mb-7">sobre mi</h4>
          <div class="hidden-xs mb-7 separator separator-primary separator-left"></div>
          <p class="light text-left">
            <%= biography @user %>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <h4 class="bold mv-7">reconocimientos</h4>
        <div class="hidden-xs mb-7 separator separator-primary separator-left"></div>
        <div class="row mt-21">
          <div class="col-sm-2 minh-70 ph-7">
              <%= image_tag "cuadro.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7">
              <%= image_tag "tercio.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
        </div>
        <div class="row mv-35">
          <div class="col-sm-2 minh-70 ph-7 mb-21">
            <%= image_tag "unicornio.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
            <%= image_tag "agile.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
            <%= image_tag "best.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
              <%= image_tag "agile.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
              <%= image_tag "best.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
              <%= image_tag "code.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7 mb-21">
              <%= image_tag "agile.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
          <div class="col-sm-2 minh-70 ph-7">
              <%= image_tag "best.png",alt: "coder", class: "img-circle img-responsive", width: "90" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-light">
  <div class="container-md pv-56 puntos border-bottom-gray">
    <h4 class="bold mb-7 text-center">puntos</h4>
    <div class="hidden-xs mb-7 separator separator-primary separator-centered"></div>
    <p class="light text-center mt-35 font-big">
      este es el detalle de tu avance hasta ahora
    </p>
    <div class="row pt-21">
      <div class="col-md-6">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
      </div>
      <div class="col-md-6 pv-49 ph-35">
        <div class="row pl-70-md">
          <div class="col-sm-12">
            <div class="c100 p80 big orange">
              <span>80%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-3 text-center">
            <p><span class="book">1800/</span><span class="thin h4">3000</span></p>
            <h4 class="light">puntos</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md pv-56">
    <h4 class="light mb-7 text-center">nivel técnico</h4>
    <div class="row mt-28">
      <div class="col-md-2 col-md-offset-1">
        <div class="c100 p80 small gray">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="c100 p80 small gray">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="c100 p80 small gray">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="c100 p80 small gray">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="c100 p80 small gray">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :scripts do %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>
    $(function () {
      $('#container').highcharts({
        chart: {
          plotBackgroundColor: "#fcfcfc",
          plotBorderWidth: 0,
          plotShadow: false,
          backgroundColor: "#fcfcfc"
        },
        title: {
          text: '1800<br>puntos',
          align: 'center',
          verticalAlign: 'middle',
          y: 20
        },
        credits: {
          enabled: false
       },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            dataLabels: {
              enabled: true,
              distance: -25,
              style: {
                fontWeight: 'light',
                color: 'white',
                textShadow: '0px 1px 2px black'
              }
            },
            center: ['50%', '55%']
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          innerSize: '70%',
          data: [
            ['Firefox',   10.38],
            ['IE',       26.33],
            ['IE',       16.33],
            ['Pre Work',  20.33],
            ['Chrome', 14.03],
            ['Chrome', 10.03],
            ['Safari',    4.77],
            ['Opera',     10.91],
            {
                name: 'Quiz',
                y: 9.2,
            }
          ]
        }]
      });
    });
  </script>
<% end %>
