<section>
  <div class="intro-perfil container-md pv-56">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @user.avatar.url(:menu), alt: "coder", class: "img-circle img-responsive", width: "130" %>
          </div>
          <div class="col-sm-7">
            <h3 class="mv-7 light">
              <%= @user.full_name %>
            </h3>
            <p class="mb-0 lh-profile">
              <%= @user.code %>
            </p>
            <p class="light lh-profile">
              <%= @user.branch.name %>
            </p>
          </div>
        </div>
        <!-- We are hidding the biography until job placement -->
        <!--div class="mt-56 pr-42-md">
          <h4 class="bold mb-7">sobre mi</h4>
          <div class="hidden-xs mb-7 separator separator-primary separator-left"></div>
          <p class="light text-left">
            <%= biography @user %>
          </p>
        </div-->
      </div>
      <div class="col-sm-6">
        <h4 class="bold mv-7">reconocimientos</h4>
        <div class="hidden-xs mb-7 separator separator-primary separator-left"></div>
        <div class="mt-21">
          <% if @sprint_badges.each do |sprint_badge| %>
            <% sprint_badge.each do |key,count| %>
              <div class="col-sm-2 minh-70 ph-7 badge">
                  <%= image_tag key.image.url(:normal) ,alt: "coder", class: "img-circle img-responsive", width: "80" %>
                  <div class="badge-count"><p><%= "x#{count}" %></p></div>
              </div>
            <% end %>
          <% end.empty? %>
            <p class="thin">Aún no tienes reconocimientos logrados, <br> ¡Sigue esforzándote!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-light">
  <div id="point-summary">
    <%= render 'point_summary' %>
  </div>

  <% unless @data.empty? %>
    <div id="skills-points">
      <%= render 'point_skills' %>
    </div>
  <% end %>

  <% unless @soft_skills_points.empty? %>
    <div id="soft-skills-points">
     <%= render 'point_soft_skills' %>
    </div>
  <% end %>
</section>
<section>
  <div id="points-comparative">
    <%= render 'point_comparative' %>
  </div>
</section>
<% content_for :scripts do %>
  <script><%= render 'point_summary.js.erb' %></script>
  <script><%= render 'point_comparative.js.erb' %></script>
<% end %>
