
  <div class="navigation full-height">
    <div class="breadcrumb">
      <%= link_to course_details_path(@track,@course) do %>
        <i class="fa fa-arrow-circle-o-left"></i> Volver
      <% end %>
    </div>
    <!--<hr class="nav-divider">-->
    <h2 class="unit-title text-left light" style=""><%= @unit.title %></h2>
    <div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default border-gray-dark">
        <div class="panel-heading bg-collapse" role="tab" id="headingOne">
          <h4 class="panel-title  square-pages active ml-28 lh-md <%="active" if @page.page_type == "material" %>">
            <a role="button" class="text-uppercase text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Material
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body ph-7 pv-0 bg-gray-dark border-gray-dark">
             <!--<ul class="pl-28">-->
             <!--  <li class="quote-list">Slides</li>-->
             <!--  <li class="quote-list">Blog: Etiquetas</li>-->
             <!--  <li class="quote-list">Blog: Formulario</li>-->
             <!--</ul>-->
              <ul class="units pl-7">
                <% @lesson.visible_pages_by_type(current_user.branch_id,"material").each do |page| %>
                  <li class="unit-item clearfix <%= page.id == @page.id ? "active": ""%>"
                      title="<%= page.title %>">
                      
                      <%= link_to lesson_page_details_path(@track,@course,@unit,page.lesson,page),
                          :class => "clearfix item" do %>
                        <div class="page-title quote-list pv-7">
                          <%= page.title %>
                        </div>
                      <% end %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>
      <div class="panel-body pv-0">
        <% @lesson.visible_pages_by_type(current_user.branch_id,"prework").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 mb-0 bg-gray-dark">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "prework" %>">
                  <%= link_to "Pretrabajo",lesson_page_details_path(@track,@course,@unit,page.lesson,page) %>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="bg-gray-dark mb-0">
                <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
              </ul>
            </div>
          </div>
        <% end %>
        <% @lesson.visible_pages_by_type(current_user.branch_id,"quiz").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 mb-0 bg-gray-dark">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "quiz" %>">
                  <%= link_to "quiz",lesson_page_details_path(@track,@course,@unit,page.lesson,page) %>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="bg-gray-dark mb-0">
                <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel panel-default border-gray-dark">
        <div class="panel-heading pv-7 bg-collapse" role="tab" id="headingTwo">
          <h4 class="panel-title  square-pages ml-28 lh-md <%="active" if @page.page_type == "quiz" %>">
            <a class="collapsed text-uppercase text-white" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              EJERCICIOS
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body ph-7 pv-0 bg-gray-dark border-gray-dark">
            <% @lesson.visible_pages_by_type(current_user.branch_id,"exercise").each do |page| %>
              <div class="row">
                <div class="col-md-8">
                  <ul class="bg-gray-dark mb-0">
                    <li class="square-pages-list fz-14 ml-42 pv-7">
                      <%= link_to page.title,lesson_page_details_path(@track,@course,@unit,page.lesson,page) %>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="bg-gray-dark">
                    <li class="pv-7 fz-14">(<%= pluralize page.points, "pt" %>)</li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body pt-0">
      <div class="row">
        <div class="col-md-8">
          <ul class="pl-28 bg-gray-dark disabled mb-0">
            <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "solution" %>">Solucionario</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="bg-gray-dark mb-0">
            <li class="pv-7">(5 pts)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="pl-28 bg-gray-dark disabled mb-0">
            <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "retrospective" %>">Autoevaluación</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="bg-gray-dark mb-0">
            <li class="pv-7">(10 pts)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="pl-28 bg-gray-dark disabled mb-0">
            <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "peerreview" %>">Peer review</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="bg-gray-dark mb-0">
            <li class="pv-7">(20 pts)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>