
  <div class="navigation full-height pb-70-xs ph-21-xs">
    <div class="clearfix switch-movil">
      <div class="pull-left">
        <%= link_to image_tag("laboratoria-white.svg",alt: "Laboratoria código que transforma", class: "mt-14", width: "150px"), root_path %>
      </div>
      <div class="pull-right">
        <div class="switch">
          <div class="menu-toggle"></div>
        </div>
      </div>
    </div>
    <div class="breadcrumb mt-21-xs">
      <%= link_to course_details_path(@track,@course) do %>
        <i class="fa fa-arrow-circle-o-left"></i> Volver
      <% end %>
    </div>
    <!--<hr class="nav-divider">-->
    <h2 class="unit-title text-left light" style=""><%= @lesson.title %></h2>
    <% if @lesson.lesson_plan %>
      <a href="<%= @lesson.lesson_plan %>" target="_blank" class="text-white ml-7">
        <i class="fa fa-chevron-right text-primary" aria-hidden="true"></i>
        <span class="thin">Lesson Plan</span>
      </a>
    <% end %>
    <div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default border-gray-dark">
        <div class="panel-heading bg-collapse" role="tab" id="headingOne">
          <h4 class="panel-title  square-pages ml-28 lh-md <%="active" if @page.page_type == "material" %>">
            <a role="button" class="text-uppercase text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="<%= if @page.page_type == "material" then "true" else "false" end %>" aria-controls="collapseOne">
              Material
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse <%="in" if @page.page_type == "material" %>" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body ph-7 pv-0 bg-gray-dark border-gray-dark">
              <ul class="units pl-7">
                <% @lesson.visible_pages_by_type(current_user.branch.id,"material").each do |page| %>
                  <li class="unit-item clearfix <%= page.id == @page.id ? "active": ""%>"
                      title="<%= page.title %>">

                      <%= link_to lesson_page_details_path(@track,@course,@unit,page.lesson,page),
                          :class => "clearfix item" do %>
                        <div class="page-title quote-list pv-7">
                          <%= page.title %>
                        </div>
                      <% end %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>
      <div class="panel-body pv-0">
        <% @lesson.visible_pages_by_type(current_user.branch.id,"prework").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 mb-0 bg-gray-dark">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "prework" %>">
                  <%= link_to "Pretrabajo",lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                </li>
              </ul>
            </div>
            <% if page.points > 0 %>
              <div class="col-md-4">
                <ul class="bg-gray-dark mb-0">
                  <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
        <% @lesson.visible_pages_by_type(current_user.branch.id,"quiz").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 mb-0 bg-gray-dark">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "quiz" %>">
                  <%= link_to "quiz",lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="bg-gray-dark mb-0">
                <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <% if @lesson.has_visible_pages_by_type(current_user.branch.id,"exercise") %>
      <div class="panel panel-default border-gray-dark">
        <div class="panel-heading pv-7 bg-collapse" role="tab" id="headingTwo">
          <div class="row">
            <div class="col-md-8">
              <h4 class="panel-title square-pages ml-28 lh-md <%="active" if @page.page_type == "exercise" %>">
                <a class="collapsed text-uppercase text-white" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="<%= if @page.page_type == "exercise" then "true" else "false" end %>" aria-controls="collapseTwo">
                  EJERCICIOS
                </a>
              </h4>
            </div>
            <div class="col-md-4">
              <span class="pv-7 text-white">(<%= pluralize @lesson.total_points_by_type("exercise"), "pt" %>)</span>
            </div>
          </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse <%="in" if @page.page_type == "exercise" %>" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body ph-7 pv-0 bg-gray-dark border-gray-dark">
            <% @lesson.visible_pages_by_type(current_user.branch.id,"exercise").each do |page| %>
              <div class="row">
                <div class="col-md-8">
                  <ul class="bg-gray-dark mb-0">
                    <li class="square-pages-list fz-14 ml-42 pv-7 <%="active" if page.id == @page.id %>">
                      <%= link_to page.title,lesson_page_details_path(@track,@course,@unit,page.lesson,page) %>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="bg-gray-dark">
                    <li class="pv-7 fz-14">(<%= pluralize page.points, "pt" %>)</li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% if @lesson.has_visible_pages_by_type(current_user.branch.id,"solution") %>
        <div class="panel panel-default border-gray-dark">
        <div class="panel-heading pv-7 bg-collapse" role="tab" id="headingThree">
          <div class="row">
            <div class="col-md-8">
              <h4 class="panel-title square-pages ml-28 lh-md <%="active" if @page.page_type == "solution" %>">
                <a class="collapsed text-uppercase text-white" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="<%= if @page.page_type == "solution" then "true" else "false" end %>" aria-controls="collapseThree">
                  SOLUCIONARIO
                </a>
              </h4>
            </div>
            <div class="col-md-4">
              <span class="pv-7 text-white">(<%= pluralize @lesson.total_points_by_type("solution"), "pt" %>)</span>
            </div>
          </div>

        </div>
        <div id="collapseThree" class="panel-collapse collapse <%="in" if @page.page_type == "solution" %>" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body ph-7 pv-0 bg-gray-dark border-gray-dark">
            <% @lesson.visible_pages_by_type(current_user.branch.id,"solution").each do |page| %>
              <div class="row">
                <div class="col-md-8">
                  <ul class="bg-gray-dark mb-0">
                    <li class="square-pages-list fz-14 ml-42 pv-7 <%="active" if page.id == @page.id %>">
                      <%= link_to page.title,lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                    </li>
                  </ul>
                </div>
                <% if page.points > 0 %>
                  <div class="col-md-4">
                    <ul class="bg-gray-dark">
                      <li class="pv-7 fz-14">(<%= pluralize page.points, "pt" %>)</li>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="panel-body pt-0">
      <% if @lesson.has_visible_pages_by_type(current_user.branch.id,"retrospective") %>
        <% @lesson.visible_pages_by_type(current_user.branch.id,"retrospective").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 bg-gray-dark mb-0">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "retrospective" %>">
                  <%= link_to "AUTOEVALUACIÓN",lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="bg-gray-dark mb-0">
                <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @lesson.has_visible_pages_by_type(current_user.branch.id,"codereview") %>
        <% @lesson.visible_pages_by_type(current_user.branch.id,"codereview").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 bg-gray-dark mb-0">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "codereview" %>">
                  <%= link_to "Code Review",lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="bg-gray-dark mb-0">
                <li class="pv-7">(<%= pluralize page.points, "pt" %>)</li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @lesson.has_visible_pages_by_type(current_user.branch.id,"score") %>
        <% @lesson.visible_pages_by_type(current_user.branch.id,"score").each do |page| %>
          <div class="row">
            <div class="col-md-8">
              <ul class="pl-28 bg-gray-dark mb-0">
                <li class="square-pages text-uppercase pv-7 <%="active" if @page.page_type == "score" %>">
                  <%= link_to "Puntos",lesson_page_details_path(@track,@course,@unit,page.lesson,page),class: "text-white" %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
