<div class="outer-container score-pages">
    <div class="inner-container text-center">
      <div class="text-center mt-20">
        <% if Submission.where(user_id: current_user.id).count > 0 %>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th style="text-align:center;">Puntos Alcanzados</th>
                  <th style="text-align:center;">% del Total de Puntos Disponibles</th>
                  <th style="text-align:center;">Promedio Salón</th>
                </tr>
              </thead>
              <tbody>
                <% @pages_points.each do |page| %>
                  <tr>
                    <td style="text-align:left;font-weight:bold;"><%= page[:page_title] %></td>
                    <td><%= "#{page[:student_points].round(2)} / #{page[:page_points].round(2)}" %></td>
                    <td><%= (page[:student_points] / page[:page_points]*100).round(2) %> %</td>
                    <td><%= page[:average_points].round(2) %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfooter>
                <tr>
                  <th style="text-align:left;font-weight:bold;">Total</th>
                  <td><%= "#{@total_student_points.round(2)} / #{@total_page_points.round(2)}" %></td>
                  <td><%= (@total_student_points / @total_page_points * 100).round(2) %> %</td>
                  <td><%= @total_average_points.round(2) %></td>
                </tr>
              </tfooter>
            </table>
          </div>
        <% else %>
          <p>Aun no se pueden visualizar tus puntos.</p>
        <% end %>
      </div>
    </div>
</div>
