<div class="course-header clearfix bg-gray-dark">
    <div class="content container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 pr-49 ph-0-xs">
            <h1 class="light text-uppercase"><%= @course.name %></h1>
            <p class="thin lh-md mb-42-md fz-21 hidden-xs"><%= @course.description %></p>
            <% if @course.course_plan %>
              <a href="<%= @course.course_plan %>" target="_blank" class="text-white ml-7">
                <i class="fa fa-chevron-right text-primary" aria-hidden="true"></i>
                <span class="thin">Course Plan</span>
              </a>
            <% end %>
          </div>
          <div class="col-md-5 pl-49 hidden">
            <h4 class="ligth">LECCIONES COMPLETADAS</h4>
            <div class="progress progress-details">
              <div class="progress-bar progress-bar-details" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container sprints-container ph-42-xs ph-56-sm">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-1">
      <h2 class="subtitulo-curso lh-21 light text-left mt-42 mb-0 mt-14-xs">contenido</h2>
      <div class="separator separator-sm separator-primary separator-left mb-28"></div>
      <div class="units">
        <% @course.units.order(:sequence).each_with_index do |unit,index| %>
          <% if unit.has_pages(current_user.branch.id) %>
          <div class="row unit">
            <div class="col-sm-6 pr-49">
              <div class="overview">
                <h2><%= unit.title %></h2>
                <p><%= unit.description %></p>
              </div>
            </div>
            <div class="col-sm-6 pl-49 mt-21-xs">
              <div class="content-box clearfix">
                <ol>
                  <% unit.lessons.order(:sequence).each do |lesson| %>
                   <li class="progress-item">
                     <% if lesson.has_visible_pages(current_user.branch.id) %>
                       <%= link_to lesson_page_details_path(@track,@course,unit,lesson.id, lesson.visible_pages(current_user.branch.id).first.id),:class => "viewed" do %>
                         <span><%= lesson.title %></span>
                         <span>(<%= lesson.total_points %> pts)</span>
                       <% end %>
                     <% end %>
                   </li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
