<!DOCTYPE html>
<html>
<head>
  <title>El Capitan</title>
  <%= stylesheet_link_tag 'login' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//use.typekit.net/owh6gyt.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body data-no-turbolink="true">
  <div class="wrapper">
    <%= render "shared/login_header" %>
    <%= bootstrap_flash %>
    <%= yield %>
    <%= render "shared/footer" %>
  </div>
</body>
</html>